{%- style -%}
  .article-title {
    color: {{ section.settings.title_color }};
  }

  .content-overlap {
    background: {{ section.settings.article_color }};
    border-color: {{ section.settings.border_color }};
  }

  .article-card {
    background: {{ section.settings.background_color }};
  }

  .article-card .article-excerpt {
    color: {{ section.settings.text_color }};
  }

  .article-date svg path,
  .article-comments svg path {
    fill: {{ section.settings.text_color }};
  }

  .article-tags .article-tag,
  .article-card .meta-wrapper {
    color: {{ section.settings.text_color }};
    background: {{ section.settings.date_bg_color }};
  }

  a.article-button {
    color: {{ section.settings.link_color }};
  }

  a.article-button svg path {
    stroke: {{ section.settings.link_color }};
  }
{%- endstyle -%}

{%- if article -%}
  {%- assign is_even = index | modulo: 2 -%}
  <div class="article-card row-{% if is_even == 0 %}reverse{% else %}normal{% endif %}">
    {%- if show_image and article.image != blank -%}
      <a href="{{ article.url }}" class="image-wrapper">
        <lazy-image class="media-wrapper article-zoom">
          <img
            src="{{ article.image | image_url: width: 500 }}"
            width="{{ article.image.width | default: 500 }}"
            height="{{ article.image.height | default: 416 }}"
            alt="{{ article.image.alt }}"
            loading="lazy"
            style="max-width: 363px; min-height: 416px; object-fit: cover; object-position: top;">
        </lazy-image>
      </a>
    {%- endif -%}

    <div class="content-wrapper">
      <div class="content-overlap align-{{ section.settings.article_content_align | default: 'left' }} {% if show_image %}set-position{% endif %}">
        <h2 class="article-title">
          <a href="{{ article.url }}">{{ article.title | strip_html | escape | truncate: 35, '...' }}</a>
        </h2>

        {%- if show_author or show_date or blog_comment -%}
          <div class="meta-wrapper">
            {%- if show_date -%}
              <span class="article-date">
                {% render 'icons', icon: 'calendar' %}
                <span class="date">{{ article.published_at | date: date_patterns }}</span>
              </span>
            {%- endif -%}

            {%- if blog_comment -%}
              <span class="article-comments">
                {% render 'icons', icon: 'comment' %}
                <span class="comments">{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
              </span>
            {%- endif -%}

            {%- if show_author -%}
              <span class="article-author">
                {% render 'icons', icon: 'avatar' %}
                <span class="author">{{ article.author }}</span>
              </span>
            {%- endif -%}
          </div>
        {%- endif -%}

        <div class="article-excerpt">
          {%- if show_excerpt and article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncate: 150, '...' }}
          {%- else -%}
            {%- if article.content.size > 0 -%}
              {{ article.content | strip_html | truncate: 150, '...' }}
            {%- endif -%}
          {%- endif -%}
        </div>

        {%- if show_tags -%}
          <div class="article-tags-wrapper">
            <div class="article-tags">
              {% for tag in article.tags %}
                <div class="article-tag">#{{ tag | downcase }}</div>
              {% endfor %}
            </div>
          </div>
        {%- endif -%}

        <div class="article-button-wrapper">
          <a href="{{ article.url }}" class="article-button btn-link-effect">
            {{ 'blogs.article.learn_more' | t -}}
            {%- render 'icons', icon: 'right-arrow-small' %}
          </a>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
