{{ 'cart-drawer.css' | asset_url | stylesheet_tag: preload:true }}
<cart-drawer>
  <div class="cart-drawer-details">
    <div tabindex='0' role="dialog" aria-modal="true" aria-label="Your cart" class="cart-drawer" id="cart-drawer">
    <div class="cart-drawer-title">
      <span>
        {{ 'cart.title' | t }}
        <span class="cartcountnum">({{ cart.item_count }})</span>
      </span>
      <span class="cartdrawer-icon">{% render 'icons', icon: 'close' %}</span>
    </div>

    <div class="desk-hide">
      <div class="mobile-cartdrawer-tabs">
        <div class="cart-drawer-product cart-drawer-tab active" data-tab="1">
          <p>{{ 'cart.drawer.cart' | t }}</p>
        </div>
        <div class="cart-collection-product cart-drawer-tab" data-tab="2">
          <p>{{ 'cart.drawer.relatable_products' | t }}</p>
        </div>
      </div>
    </div>

    <div class="cart-drawer-content">
      <div class="left-side-drawer drawer-tab-content active" id="tab-1">
        <div class="cart-wrapper">
          <div class="main-cart-wrapper">
            <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
              <div class="cart-items-wrapper">
                <table class="cart-items" ms-aos data-ms-delay="200">
                  <thead>
                    <tr>
                      <th class="cart-headings">{{ 'cart.headings.product' | t }}</th>
                      <th class="cart-headings">{{ 'cart.headings.price' | t }}</th>
                      <th class="mobile-hide cart-headings">{{ 'cart.headings.quantity' | t }}</th>
                      <th class="cart-headings">{{ 'cart.headings.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody class="cart-content">
                    {%- for item in cart.items -%}
                      <tr data-index="{{ forloop.index }}">
                        <td>
                          <div class="product-details">
                            <a href="{{ item.url }}" class="img-wrapepr" aria-label="Product link">
                              <lazy-image
                                class="cart-drawer-img"
                                {% if item.image -%}
                                  style="--object-position: {{ 1 | divided_by: item.image.aspect_ratio | times: 100 }}%;"
                                {%- endif -%}
                              >
                                {%- if item.image -%}
                                  <img
                                    src="{{ item.image | image_url: width: 80 }}"
                                    width="{{ item.image.width }}"
                                    height="{{ item.image.height }}"
                                    alt="{{ item.image.alt | default: item.product.title | escape }}"
                                    loading="lazy"
                                  >
                                {%- else -%}
                                  {{ 'product-1' | placeholder_svg_tag }}
                                {%- endif -%}
                              </lazy-image>
                            </a>

                            <div class="content-wrapper">
                              <div class="product-mobile-content">
                                {%- if settings.show_vendor -%}
                                  <p class="vendor">{{ item.product.vendor }}</p>
                                {%- endif -%}
                                <a href="{{ item.url }}" class="title" aria-label="{{ item.product.title }} Link">{{ item.product.title | escape }}</a>
                                {%- if item.product.has_only_default_variant == false
                                  or item.properties.size != 0
                                  or item.selling_plan_allocation != null
                                -%}
                                  <div class="line-item-options">
                                    <dl>
                                      {%- if item.product.has_only_default_variant == false -%}
                                        {%- for option in item.options_with_values -%}
                                          <div class="product-option">
                                            <dt>{{ option.name }}:</dt>
                                            <dd>{{ option.value }}</dd>
                                          </div>
                                        {%- endfor -%}
                                      {%- endif -%}

                                      {%- for property in item.properties -%}
                                        {%- assign property_first_char = property.first | slice: 0 -%}
                                        {%- if property.last != blank and property_first_char != '_' -%}
                                          <div class="product-option">
                                            <dt>{{ property.first }}:</dt>
                                            <dd>
                                              {%- if property.last contains '/uploads/' -%}
                                                <a href="{{ property.last }}" class="link" target="_blank" aria-label="Open {{ property.last | split: '/' | last }}">
                                                  {{ property.last | split: '/' | last }}
                                                </a>
                                              {%- else -%}
                                                {{ property.last }}
                                              {%- endif -%}
                                            </dd>
                                          </div>
                                        {%- endif -%}
                                      {%- endfor -%}
                                    </dl>
                                  </div>
                                  <div class="product-price  mobile-hide">
                                    <p class="main-price">
                                      <span class="visuallyhidden">{{ 'product.regular_price' | t }}</span>
                                      <span data-price>
                                        {%- if settings.currency_code_enabled -%}
                                          {{ item.final_price | money_with_currency }}
                                        {%- else -%}
                                          {{ item.final_price | money }}
                                        {%- endif -%}
                                      </span>
                                    </p>
                                    <p class="compared-at-price">
                                      <span class="visuallyhidden">{{ 'product.sale_price' | t }}</span>
                                      <del
                                        data-compare-at-price
                                        {% unless item.final_price != item.original_price -%}
                                          style="display:none;"
                                        {%- endunless -%}
                                      >
                                        {%- if settings.currency_code_enabled -%}
                                          {{ item.original_price | money_with_currency }}
                                        {%- else -%}
                                          {{ item.original_price | money }}
                                        {%- endif -%}
                                      </del>
                                    </p>
                                    <span
                                      {% unless item.final_price != item.original_price -%}
                                        style="display:none;"
                                      {%- endunless -%}
                                      class="price-badge sale"
                                      data-sale-percent
                                    >
                                      {{-
                                        item.original_price
                                        | minus: item.final_price
                                        | times: 100.0
                                        | divided_by: item.original_price
                                        | ceil
                                      -}}
                                      %</span
                                    >
                                  </div>
                                  <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                                {%- endif -%}

                                <ul
                                  class="discounts list-unstyled"
                                  role="list"
                                  aria-label="{{ 'customer.order.discount' | t }}"
                                >
                                  {%- for discount in item.discounts -%}
                                    <li class="discounts__discount" role="listitem">
                                      {%- render 'icons', icon: 'discount' -%}
                                      {{ discount.title }}
                                    </li>
                                  {%- endfor -%}
                                </ul>

                                <div class="product-price desk-hide">
                                  <p class="main-price">
                                    <span class="visuallyhidden">{{ 'product.regular_price' | t }}</span>

                                    <span data-price>
                                      {%- if settings.currency_code_enabled -%}
                                        {{ item.final_price | money_with_currency }}

                                      {%- else -%}
                                        {{ item.final_price | money }}
                                      {%- endif -%}
                                    </span>
                                  </p>

                                  <p class="compared-at-price">
                                    <span class="visuallyhidden">{{ 'product.sale_price' | t }}</span>

                                    <del
                                      data-compare-at-price

                                      {% unless item.final_price != item.original_price -%}
                                        style="display:none;"
                                      {%- endunless -%}
                                    >
                                      {%- if settings.currency_code_enabled -%}
                                        {{ item.original_price | money_with_currency }}

                                      {%- else -%}
                                        {{ item.original_price | money }}
                                      {%- endif -%}
                                    </del>
                                  </p>

                                  <span
                                    {% unless item.final_price != item.original_price -%}
                                      style="display:none;"
                                    {%- endunless -%}

                                    class="price-badge sale"

                                    data-sale-percent
                                  >
                                    {{-
                                      item.original_price
                                      | minus: item.final_price
                                      | times: 100.0
                                      | divided_by: item.original_price
                                      | ceil
                                    -}}

                                    %</span
                                  >
                                </div>

                                <div class="mobile-remove-icon desk-hide">
                                  <a href="{{ item.url_to_remove }}" class="cart-remove-link" aria-label="Remove item">
                                    {%- render 'icons', icon: 'trash' -%}

                                    <span class="visually-hidden">{{- 'cart.remove_title' | t -}}</span>
                                  </a>
                                </div>
                              </div>

                              <div class="quantity-picker-wrapper cart-qnt desk-hide">
                                <div class="error" style="display:none;">
                                  {%- render 'icons', icon: 'cross' -%}
                                  <span data-error-text></span>
                                </div>
                                <label for="pdpQnt" class="visuallyhidden">{{ 'product.quantity_picker' | t }}</label>
                                <quantity-picker class="qnt-input-wrapper">
                                  <button
                                    type="button"
                                    class="btn qnt-input qnt-dec"
                                    aria-label="Decrease quantity"
                                    {%- if item.quantity == 1 %}
                                      disabled
                                    {%- endif -%}
                                  >
                                    <span class="visually-hidden">{{ 'products.product.quantity_decrease' | t }}</span>
                                    {%- render 'icons', icon: 'minus' -%}
                                  </button>
                                  <input
                                    type="number"
                                    name="quantity"
                                    data-id="{{ item.id }}"
                                    value="{{ item.quantity }}"
                                    aria-label="Quantity"
                                    disabled
                                  >
                                  <button type="button" class="btn qnt-input qnt-inc" aria-label="Increase quantity">
                                    <span class="visually-hidden">{{ 'products.product.quantity_increase' | t }}</span>
                                    {%- render 'icons', icon: 'plus' -%}
                                  </button>
                                </quantity-picker>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="mobile-hide">
                          <div class="remove-quantity-content">
                            <a href="{{ item.url_to_remove }}" class="cart-remove-link" data-line="{{ forloop.index }}" aria-label="Remove item">
                              {%- render 'icons', icon: 'trash' -%}
                              <span class="visually-hidden">{{- 'cart.remove_title' | t -}}</span>
                            </a>
                            <div class="quantity-picker-wrapper cart-qnt mobile-hide">
                              <div class="error" style="display:none;">
                                {%- render 'icons', icon: 'cross' -%}
                                <span data-error-text></span>
                              </div>
                              <label for="pdpQnt" class="visuallyhidden">{{ 'product.quantity_picker' | t }}</label>
                              <quantity-picker class="qnt-input-wrapper">
                                <button
                                  type="button"
                                  class="btn qnt-input qnt-dec"
                                  aria-label="Decrease quantity"
                                  {%- if item.quantity == 1 %}
                                    disabled
                                  {%- endif -%}
                                >
                                  <span class="visually-hidden">{{ 'products.product.quantity_decrease' | t }}</span>
                                  {%- render 'icons', icon: 'minus' -%}
                                </button>
                                <input
                                  type="number"
                                  name="quantity"
                                  data-id="{{ item.id }}"
                                  data-max="{{ item.variant.inventory_quantity }}"
                                  value="{{ item.quantity }}"
                                  aria-label="Quantity"
                                >
                                <button
                                  type="button"
                                  class="btn qnt-input qnt-inc"
                                  aria-label="Increase quantity"
                                  {%- if item.quantity >= item.variant.inventory_quantity %}
                                    disabled
                                  {% endif -%}
                                >
                                  <span class="visually-hidden">{{ 'products.product.quantity_increase' | t }}</span>
                                  {%- render 'icons', icon: 'plus' -%}
                                </button>
                              </quantity-picker>
                            </div>
                          </div>
                        </td>
                        <td class="hidden">
                          <div class="cart-item__price-wrapper">
                            <div class="product-price">
                              <p class="main-price">
                                <span class="visuallyhidden">{{ 'product.regular_price' | t }}</span>
                                <span data-total-price>
                                  {%- if settings.currency_code_enabled -%}
                                    {{ item.final_line_price | money_with_currency }}
                                  {%- else -%}
                                    {{ item.final_line_price | money }}
                                  {%- endif -%}
                                </span>
                              </p>
                            </div>

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'accessibility.unit_price' | t }}</span>
                                {{ item.variant.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden"
                                  >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                >
                                {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.variant.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.variant.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
        <div class="drawer-footer">
          <div class="cart-summery">
            {%- if settings.show_cart_notes -%}
              <div class="cart-notes">
                <label for="cart-note">{{ 'cart.cart_note' | t }}</label>
                <textarea
                  rows="4"
                  class="text-area field__input"
                  name="note"
                  form="cart"
                  id="Cart-note"
                  placeholder="{{ 'cart.cart_note' | t }}"
                >{{ cart.note }}</textarea>
              </div>
            {%- endif -%}

            <div class="sub-total-wrapepr">
              <div class="total-wrapper">
                <div class="totals__total">{{ 'cart.final_price' | t }}</div>
                <p class="totals__total-value" data-orignial-cart-price>
                  {%- if settings.currency_code_enabled -%}
                    {{ cart.original_total_price | money_with_currency }}
                  {%- else -%}
                    {{ cart.original_total_price | money }}
                  {%- endif -%}
                </p>
              </div>
            </div>

            <div class="additional-disconts">
              <div class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <div class="discount-wrapper" role="listitem">
                    <div class="discount-info">
                      <div class="discount-title">{{ 'cart.discount' | t }}</div>
                      <p class="discounts__discount discounts__discount--position">
                        {%- render 'icons', icon: 'discount' -%}
                        {{ discount.title }}
                      </p>
                    </div>
                    <p class="discount-value">
                      {%- if settings.currency_code_enabled -%}
                        {{ discount.total_allocated_amount | money_with_currency }}
                      {%- else -%}
                        {{ discount.total_allocated_amount | money }}
                      {%- endif -%}
                    </p>
                  </div>
                {%- endfor -%}
              </div>
            </div>

            <div class="sub-total-wrapepr hidden">
              <div class="subtotal-wrapper">
                <div class="totals__subtotal">{{ 'cart.final_price' | t }}</div>
                <p class="totals__subtotal-value" data-total-cart-price>
                  {%- if settings.currency_code_enabled -%}
                    {{ cart.total_price | money_with_currency }}
                  {%- else -%}
                    {{ cart.total_price | money }}
                  {%- endif -%}
                </p>
              </div>
            </div>

            <small class="tax-note caption-large rte">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </small>

            <div class="action-wrapper">
              <button type="submit" name="checkout" class="btn btn-primary" aria-label="Submit">{{ 'cart.checkout' | t | upcase }}</button>
              {%- if additional_checkout_buttons -%}
                <div class="additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
            </div>
          </div>
          <div class="viewcart-content">
            <a href="/cart" class="view-cart btn btn-secondary">{{ 'cart.view_cart' | t }}</a>
          </div>
        </div>
      </div>
      <div class="right-side-drawer col-drawer-content drawer-tab-content" id="tab-2">
        <div class="cart-drawer-product">
          {% if section.settings.title %}
        <h4 class="cart-recommend-title ">{{ section.settings.title }}</h4>            
          {% endif %}
          <div class="drawer-collection">
            <div class="product-items">
              {% assign collection = section.settings.collection %}
              <div class="cart-drawercollection">
                {%- for product in collection.products -%}
                  {% render 'product-card', product: product %}
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
        <div class="cart-drawer-checkout">
          <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
            <button type="submit" name="checkout" class="btn btn-secondary" aria-label="Submit">{{ 'cart.checkout' | t }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>   
</cart-drawer>
