<menu-drawer class="drawer-menu-content">
  <button class="drawer-menu-btn" id="drawer-menu-btn" aria-label="Toggle menu">
    <span class="hamburger" id="hamburger-icon" aria-hidden="true">{% render 'icons',icon:'menu' %}</span>
    <span class="close-icon" id="close-icon" aria-hidden="true">{% render 'icons',icon:'close' %}</span> 
  </button>
  <div id="drawer-menu-list" class="drawer-menu-list">
    <div class="drawer-content-relative">
    <div class="drawer-innercontent">
    <div class="menu-drawer-container">
      <div class="menu-drawer-inner">
        <div class="menu-drawer-navigation">
          <ul class="drawer-menu">
            {%- for link in section.settings.menu.links -%}
              {% liquid
                assign link_menutitle = link.title | handleize
                assign menu_block = ''

                for block in section.blocks
                  assign menu_title = block.settings.menu_title | handleize

                  if menu_title == link_menutitle
                    assign menu_block = block
                    break
                  endif
                endfor
              %}
              <li>
                {%- if link.levels == 0 -%}
                  <a
                    href="{{ link.url }}"
                    class="single-menu"
                    {% if link.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{- link.title -}}
                  </a>
                {%- else -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary
                        id="HeaderMenu-{{ link.handle }}"
                        class="header__menu-item list-menu__item link focus-inset"
                      >
                        <span
                          {%- if link.child_active %}
                            class="header__active-menu-item"
                          {% endif %}
                        >
                          {{- link.title | escape -}}
                        </span>
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </summary>

                      {%- if menu_block != '' -%}
                        <div class="megamenu-content">
                          {% render 'megamenucontent', link: link, block: menu_block %}
                        </div>
                      {% else %}
                        <ul
                          id="HeaderMenu-MenuList-{{ forloop.index }}"
                          class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                          role="list"
                          tabindex="-1"
                        >
                          {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                                  href="{{ childlink.url }}"
                                  class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                                  {% if childlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ childlink.title | escape }}
                                </a>
                              {%- else -%}
                                <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                                  <summary
                                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                                    class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                                  >
                                    <span>{{ childlink.title | escape }}</span>
                                    {{- 'icon-caret.svg' | inline_asset_content -}}
                                  </summary>
                                  <ul
                                    id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                    class="header__submenu subchild-menu list-menu motion-reduce"
                                  >
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a
                                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                          href="{{ grandchildlink.url }}"
                                          class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                          {% if grandchildlink.current %}
                                            aria-current="page"
                                          {% endif %}
                                        >
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </details>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      {% endif %}
                    </details>
                  </header-menu>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
    <div class="drawer-footer-items">
      <div class="language-location-content">
        <div class="localization-country">
          <div class="languagecontent">
            {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
              <div>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endif -%}
          </div>
          <div class="desktop-localization-wrapper">
            <localization-form class="small-hide medium-hide" data-prevent-hide>
              {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                <div>
                  {%- render 'country-localization', localPosition: 'HeaderLanguage' -%}
                </div>
              {%- endform -%}
            </localization-form>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</menu-drawer>