<ul class="social-icons">
  {% if settings.social_twitter_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_twitter_link }}" aria-label="twitter">
        <span class="social-icon">
          {% render 'icons', icon: 'twitter' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_facebook_link }}" aria-label="facebook">
        <span class="social-icon">
          {% render 'icons', icon: 'facebook' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_instagram_link }}" aria-label="instagram">
        <span class="social-icon">
          {% render 'icons', icon: 'instagram' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_pinterest_link }}" aria-label="pinterest">
        <span class="social-icon">
          {% render 'icons', icon: 'pinterest' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_linkedin_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_linkedin_link }}" aria-label="linkdin">
        <span class="social-icon">
          {% render 'icons', icon: 'linkdin' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tiktok_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_tiktok_link }}" aria-label="tiktok">
        <span class="social-icon">
          {% render 'icons', icon: 'tiktok' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_tumblr_link }}" aria-label="tumblr">
        <span class="social-icon">
          {% render 'icons', icon: 'tumblr' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_snapchat_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_snapchat_link }}" aria-label="snapchat">
        <span class="social-icon">
          {% render 'icons', icon: 'snapchat' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_youtube_link }}" aria-label="youtube">
        <span class="social-icon">
          {% render 'icons', icon: 'youtube' %}
        </span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
    <li class="social-icon-item">
      <a href="{{ settings.social_vimeo_link }}" aria-label="vimeo">
        <span class="social-icon">
          {% render 'icons', icon: 'vimeo' %}
        </span>
      </a>
    </li>
  {% endif %}
</ul>
