<!doctype html>
  <html class="template-password" lang="{{ request.locale.iso_code }}">
    <head>
      {%- render 'meta-tags' -%}
      {%- render 'style-tags' -%}
      <title>{{ shop.name | escape }}</title>
      {{ content_for_header }}
      {{ 'password.css' | asset_url | stylesheet_tag: preload: true }}
    </head>
    <body class="password-page">
      {%- section 'password-header' -%}
  
      <main id="content" role="main" class="main site-wrapper">
        {{ content_for_layout }}
      </main>
  
      {%- section 'password-footer' -%}
  
      <script src="{{ 'global.js' | asset_url }}" async></script>
    </body>
  </html>
  