{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  {% comment %} For contact us page linear gradient background {% endcomment %}
    .contact-details {
      position:relative;
      overflow: hidden;
      background-image: linear-gradient(
        {{ settings.top_color }} {{ settings.top_percentage }}%,
        {{ settings.bottom_color }} {{ settings.bottom_percentage }}%
      );
    }
{%- endstyle -%}

{{ 'component-contact.css' | asset_url | stylesheet_tag: preload: true }}

<section class="contact-details section-{{ section.id }}-padding">
  <div class="image-background">
    <picture>
      {% if settings.top_bg_image %}
        <source srcset="{{ settings.top_bg_image | image_url: width: 90 }}" media="(max-width: 768px)">
        <img src="{{ settings.top_bg_image | image_url: width: 256 }}" alt="{{ settings.top_bg_image.alt | default: 'Top background image' }}" class="top-bg"
        loading="lazy"
        style="--object-postion:{{ settings.top_bg_image.presentation.focal_point }}">
      {% endif %}
    </picture>
    <picture>
      {% if settings.left_bg_image %}
        <source srcset="{{ settings.left_bg_image | image_url: width: 26 }}" media="(max-width: 768px)">
        <img src="{{ settings.left_bg_image | image_url: width: 130 }}" alt="{{ settings.left_bg_image.alt | default: 'Left background image' }}"class="left-bg"
        loading="lazy"
        style="--object-postion:{{ settings.left_bg_image.presentation.focal_point }}">
      {% endif %}
    </picture>
    <picture>
      {% if settings.right_bg_image %}
        <source srcset="{{ settings.right_bg_image | image_url: width: 45 }}" media="(max-width: 768px)">
        <img src="{{ settings.right_bg_image | image_url: width: 130 }}" alt="{{ settings.right_bg_image.alt | default: 'Right background image' }}"  
          class="right-bg"
          loading="lazy"
          style="--object-postion:{{ settings.right_bg_image.presentation.focal_point }}">
      {% endif %}
    </picture>
  </div>

  {% render 'contact-banner' %}
  {% render 'breadcrumbs' %}
  {% render 'contact-form' %}
  {% render 'contact-multicolumn' %}
  {% render 'map' %}
</section>

{% schema %}
{
  "name": "Contact details",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Contact banner settings"
    },
    {
      "type": "color",
      "id": "banner_bg_color",
      "label": "Banner background color"
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Heading",
      "default": "Heading",
    },
    {
      "type": "select",
      "id": "content_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Banner content alignment"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#082A32",
      "label": "Heading color"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Add Text here</p>",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#5D5348",
      "label": "Text color"
    },
    {
      "type": "header",
      "content": "Map"
    },
    {
      "type": "text",
      "id": "api_key",
      "label": "Google maps api key",
      "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Address",
      "info": "Google Maps will find the exact location",
      "default": "<p>75 9th Ave, New York, NY 10011-7006</p>"
    },
    {
      "type": "select",
      "id": "map_style",
      "label": "Style",
      "default": "default",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Silver",
          "value": "silver"
        },
        {
          "label": "Retro",
          "value": "retro"
        },
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Night",
          "value": "night"
        },
        {
          "label": "Aubergine",
          "value": "aubergine"
        }
      ]
    },
    {
      "type": "header",
      "content": "Contact form settings"
    },
    {
      "type": "select",
      "id": "form_layout",
      "options": [
        {
          "value": "container",
          "label": "1440px"
        },
        {
          "value": "container-narrow",
          "label": "910px"
        }
      ],
      "default": "container",
      "label": "Desktop layout"
    },
    {
      "type": "color",
      "id": "form_bg_color",
      "label": "Form background color"
    },

    {
      "type": "image_picker",
      "id": "form_image",
      "label": "Select form image"
    },
    {
      "type": "text",
      "id": "form_heading",
      "default": "Let's talk to us!",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "form_heading_color",
      "default": "#082A32",
      "label": "Heading color"
    },

    {
      "type": "text",
      "id": "button_text",
      "default": "Send message",
      "label": "Button text"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "default": "#797979",
      "label": "Button text color"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "default": "#FFFFFF",
      "label": "Button background color"
    },
    {
      "type": "color",
      "id": "btn_border_color",
      "default": "#797979",
      "label": "Button border color"
    },

    {
      "type": "image_picker",
      "id": "vector_top_right",
      "label": "Form vector top right",
      "info": "Please use transparent image."
    },
    {
      "type": "image_picker",
      "id": "vector_bottom_left",
      "label": "Form vector bottom left",
      "info": "Please use transparent image."
    },

    {
      "type": "header",
      "content": "Multicolumn settings"
    },
    {
      "type": "select",
      "id": "multicolumn_layout",
      "options": [
        {
          "value": "container",
          "label": "1440px"
        },
        {
          "value": "container-narrow",
          "label": "910px"
        }
      ],
      "default": "container",
      "label": "Desktop layout"
    },
    {
      "type": "color",
      "id": "multicolumn_bg_color",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "multicolumn_heading",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "multicolumn_heading_color",
      "label": "Heading color",
      "default": "#082A32"
    },
    {
      "type": "color",
      "id": "col_title_color",
      "label": "Title color",
      "default": "#082A32"
    },
    {
      "type": "color",
      "id": "col_text_color",
      "label": "Text color",
      "default": "#797979"
    },
    {
      "type": "color",
      "id": "col_bg_color",
      "label": "Background color",
      "default": "#FBF5F0"
    },

    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "multicolumn_svg_icon",
          "label": "SVG icon"
        },
        {
          "type": "text",
          "id": "multicolumn_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "multicolumn_text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
