{%- style -%}
    #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .featured-blog-section .featured-blog-heading{
      color: {{ section.settings.heading_color }};
    }

    @media (max-width:768px){
      #shopify-section-{{ section.id }}{
        padding-top: {{ section.settings.padding_top  | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom  | times: 0.75 | round: 0 }}px;
      }
    }

    {% if section.settings.mobile_slider == true %}
      @media (min-width:768px){
          .blog-articles {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 16px;
            }
          }
        @media (max-width:767px){
        .blog-articles {
            display: flex;
        }
      }
        {% else %}
          .blog-articles {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 16px;
            }
        @media (max-width: 768px){
          .blog-articles {
            grid-template-columns: repeat(1, 1fr);
          }
  }
      {% endif %}
{%- endstyle -%}

{{ 'component-featured-blog.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag: preload: true }}

{%- assign blog = blogs[section.settings.blog] -%}

<section class="featured-blog-section">
  <div class="{% if section.settings.enable_full_width %}container {% else %}container-narrow {% endif %}{% if section.settings.mobile_slider == true %}swiper featured-blog-swiper{% endif %}">
    {%- if section.settings.text_alignment -%}
      <{{ section.settings.heading_size }}
        class="featured-blog-heading text-{{ section.settings.text_alignment }}"
        ms-aos
        data-ms-delay="100"
      >
        {{ section.settings.title }}
      </{{ section.settings.heading_size }}>
    {%- endif -%}

    {% if blog.articles.size == 0 %}
      <p class="text-center justify-center d-flex" ms-aos data-ms-delay="200">{{ 'blogs.article.empty' | t }}</p>
    {% else %}
      <div
        class="blog-articles {% if section.settings.mobile_slider == true %}swiper-wrapper{% endif %}"
        ms-aos
        data-ms-delay="200"
      >
        {%- for article in blog.articles limit: section.settings.article_limit -%}
          <div class="mobile-slider {% if section.settings.mobile_slider == true %}swiper-slide{% endif %}">
            {%- render 'article-card',
              article: article,
              index: forloop.index,
              show_image: section.settings.show_image,
              show_author: section.settings.show_author,
              show_date: section.settings.show_date,
              show_tags: section.settings.show_tags,
              tag_bg: section.settings.tag_bg,
              tag_color: section.settings.tag_color,
              date_patterns: section.settings.date_formats_patterns,
              date_comment_bg: section.settings.date_comment_bg,
              date_comment_color: section.settings.date_comment_color,
              show_excerpt: section.settings.show_excerpt,
              media_ratio: section.settings.media_ratio,
              blog_comment: blog.comments_enabled?,
              article_card_bg: section.settings.article_background,
              article_text_color: section.settings.article_color,
              excerpt_color: section.settings.excerpt_color
            -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</section>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" type="text/javascript" defer></script>
<script src="{{ 'featured-blog.js' | asset_url }}" type="text/javascript" defer></script>

{% schema %}
{
  "name": "Featured blog posts",
  "tag": "section",
  "class": "section-featured-blog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Blog posts"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Size",
      "options": [
        {
          "value": "h1",
          "label": "Extra large"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h5",
          "label": "Extra small"
        },
        {
          "value": "h6",
          "label": "Tiny"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Select blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "header",
      "content": "Customization"
    },
    {
      "type": "range",
      "id": "article_limit",
      "label": "Number of articles show on desktop",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "select",
      "id": "date_formats_patterns",
      "label": "Date formats",
      "options": [
        {
          "label": "DD MM, YY",
          "value": "%d %b, %Y"
        },
        {
          "label": "MM DD, YY",
          "value": "%b %d, %Y"
        },
        {
          "label": "YY-DD-MM",
          "value": "%Y-%d-%b"
        }
      ],
      "default": "%b %d, %Y"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": true
    },
    {
      "type": "select",
      "id": "media_ratio",
      "label": "Image size",
      "options": [
        {
          "value": "original",
          "label": "Original"
        },
        {
          "value": "portrait",
          "label": "Portrait (2:3)"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "landscape",
          "label": "Landscape (3:2)"
        },
        {
          "value": "full-screen",
          "label": "Full screen (4:3)"
        },
        {
          "value": "wide-screen",
          "label": "Wide screen (16:9)"
        }
      ],
      "default": "original"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "article_background",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "article_color",
      "label": "Article title"
    },
    {
      "type": "color",
      "id": "excerpt_color",
      "label": "Article excerpt/description"
    },
    {
      "type": "color",
      "id": "date_comment_bg",
      "label": "Date/Comment background"
    },
    {
      "type": "color",
      "id": "date_comment_color",
      "label": "Date/Comment text"
    },
    {
      "type": "color",
      "id": "tag_bg",
      "label": "Tag background"
    },
    {
      "type": "color",
      "id": "tag_color",
      "label": "Tag title"
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "checkbox",
      "id": "mobile_slider",
      "label": "Enable slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Featured blog posts",
      "settings": {}
    }
  ]
}
{% endschema %}
