{% style %}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .gallery-section .gallery-title{
    color: {{ section.settings.heading_color }};
    background-color: {{ section.settings.background_color }};
    backdrop-filter: blur( {{section.settings.bg_blur}}px );
  }
  .gallery-section .gallery-grid {
    gap: {{ section.settings.spacing_between_image }}px;
  }
  .gallery-section .gallery-items {
    border-radius: {{ section.settings.border_radius }}px;
  }
  {% for block in section.blocks %}
    .gallery-section .gallery-items.block-id-{{ block.id }} .gallery-button{
      color: {{ block.settings.button_text_color }};
      background-color: {{ block.settings.button_bg_color }};
    }
    lazy-image.block-id-{{ block.id }}{
      grid-column: span {{ block.settings.grid_position | split: '/' | first }} / span {{ block.settings.grid_position | split: '/' | first }};
    }
    @media (max-width: 767px){
    lazy-image.block-id-{{ block.id }}{
        grid-column: span {{ block.settings.mobile_grid_position | split: '/' | first }} / span {{ block.settings.mobile_grid_position | split: '/' | first }};
      }
    }
  {% endfor %}
  @media (max-width: 768px){
    #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top | times: 0.25 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.25 | round: 0 }}px;
    }
  }
{% endstyle %}

{{ 'component-gallery.css' | asset_url | stylesheet_tag: preload: true }}

<section class="gallery-section">
  <div class="{% if section.settings.enable_full_width %}full-width {% else %}container{% endif %}">
    <div class="gallery-wrapper">
      <div class="gallery-grid" ms-aos data-ms-delay="100">
        {%- if section.settings.title -%}
          <{{ section.settings.heading_size }} class="gallery-title" ms-aos data-ms-delay="200">
            {{- section.settings.title -}}
          </{{ section.settings.heading_size }}>
        {%- endif -%}
        {%- for block in section.blocks -%}
          <lazy-image
            class="gallery-items block-id-{{ block.id }}"
          >
            {%- if block.settings.image -%}
              <img
                src="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                alt="{{ block.settings.image.alt }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                style="--object-position:{{ block.settings.image.presentation.focal_point }}"
                loading="lazy"
              >
            {%- else -%}
              <lazy-image>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </lazy-image>
            {%- endif -%}
            {% if block.settings.enable_overlay %}
              <div class="gallery-overlay" style="background: {{ block.settings.img_overlay_color }};"></div>
            {% endif %}
            <div class="gallery-item-content">
              {%- if block.settings.title -%}
                <h4 class="content-title">{{ block.settings.title }}</h4>
              {%- endif -%}
              {%- if block.settings.description -%}
                <span class="content-description">{{ block.settings.description }}</span>
              {%- endif -%}
              {% if block.settings.button_text and block.settings.button_link %}
                <a href="{{ block.settings.button_link }}" class="gallery-button btn btn-{{ block.settings.btn_type }}">
                  {{- block.settings.button_text -}}
                </a>
              {% endif %}
            </div>
          </lazy-image>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Gallery",
  "class": "section section-gallery",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "range",
      "id": "spacing_between_image",
      "label": "Spacing between images",
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px",
      "default": 26
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border radius",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Gallery"
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Size",
      "options": [
        {
          "value": "h1",
          "label": "Extra large"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h5",
          "label": "Extra small"
        },
        {
          "value": "h6",
          "label": "Tiny"
        }
      ],
      "default": "h3"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "id": "bg_blur",
      "label": "Background blur",
      "step": 2,
      "unit": "px",
      "default": 4
    },
    {
      "type": "header",
      "content": "Section veticle spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "images",
      "name": "Images",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "grid_position",
          "label": "Grid position",
          "options": [
            {
              "label": "1/4",
              "value": "1/4"
            },
            {
              "label": "2/4",
              "value": "2/4"
            },
            {
              "label": "3/4",
              "value": "3/4"
            },
            {
              "label": "4/4",
              "value": "4/4"
            }
          ],
          "default": "1/4"
        },
        {
          "type": "select",
          "id": "mobile_grid_position",
          "label": "Mobile grid position",
          "options": [
            {
              "label": "Double",
              "value": "2/4"
            },
            {
              "label": "Single",
              "value": "4/4"
            }
          ],
          "default": "2/4"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enable overlay",
          "default": true
        },
        {
          "type": "color_background",
          "id": "img_overlay_color",
          "label": "Overlay color"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button type",
          "options": [
            {
              "label": "Primary",
              "value": "btn-primary"
            },
            {
              "label": "Secondary",
              "value": "btn-secondary"
            },
            {
              "label": "Outline",
              "value": "btn-outline-primary"
            }
          ],
          "default": "btn-primary"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text color"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Background color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "settings": {
        "title": "Gallery",
        "heading_size": "h3",
        "heading_color": "#000000",
        "background_color": "#f8f8f8"
      }
    }
  ]
}
{% endschema %}
