{%- style -%}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .section-instagram .section-title{
    color: {{ section.settings.heading_color | default: '#082A32' }};
  }
  .section-instagram .section-header__description{
    background: {{ section.settings.background_color | default: '#EFEFEF' }};
    color: {{ section.settings.description_color | default: '#797979' }};
  }
  @media (max-width: 768px){
    #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{{ 'component-instagram.css' | asset_url | stylesheet_tag: preload: true }}

<section class="instagram-section" ms-aos data-ms-delay="100">
  {%- if section.settings.insta_bg_1 -%}
    <div class="insta-bg-image top-left">
      <img
        src="{{ section.settings.insta_bg_1 | image_url: width: section.settings.insta_bg_1.width }}"
        alt="{{ section.settings.insta_bg_1.alt }}"
        width="{{ section.settings.insta_bg_1.width }}"
        height="{{ section.settings.insta_bg_1.height }}"
        loading="lazy"
      >
    </div>
  {%- endif -%}

  {%- if section.settings.insta_bg_2 -%}
    <div class="insta-bg-image bottom-left">
      <img
        src="{{ section.settings.insta_bg_2 | image_url: width: section.settings.insta_bg_2.width }}"
        alt="{{ section.settings.insta_bg_2.alt }}"
        width="{{ section.settings.insta_bg_2.width }}"
        height="{{ section.settings.insta_bg_2.height }}"
        loading="lazy"
      >
    </div>
  {%- endif -%}

  {%- if section.settings.insta_bg_3 -%}
    <div class="insta-bg-image bottom-right">
      <img
        src="{{ section.settings.insta_bg_3 | image_url: width: section.settings.insta_bg_3.width }}"
        alt="{{ section.settings.insta_bg_3.alt }}"
        width="{{ section.settings.insta_bg_3.width }}"
        height="{{ section.settings.insta_bg_3.height }}"
        loading="lazy"
      >
    </div>
  {%- endif -%}

  <div class="instagram-container">
    <div class="container">
      {%- if section.settings.title -%}
        <div class="section-header text-{{ section.settings.heading_alignment }}">
          <{{ section.settings.heading_size }} class="section-title">
            {{- section.settings.title -}}
          </{{ section.settings.heading_size }}>
        </div>
      {%- endif -%}
      <div class="instagram-wrapper container-narrow">
        {% for block in section.blocks %}
          <lazy-image class="instagram-item">
            {%- if block.settings.image -%}
              <img
                src="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                alt="{{ block.settings.image.alt }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                loading="lazy"
              >
            {%- else -%}
              <lazy-image>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </lazy-image>
            {%- endif -%}
            <div class="instagram-overlay">
              <span class="instagram-icon">{%- render 'instragram-icon' -%}</span>
            </div>
          </lazy-image>
        {% endfor %}
      </div>
      {%- if section.settings.description -%}
        <div class="section-header__description text-center container-narrow">{{ section.settings.description }}</div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Instagram",
  "class": "section section-instagram",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Customization"
    },
    {
      "type": "header",
      "content": "Heading size"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Size",
      "options": [
        {
          "value": "h1",
          "label": "Extra large"
        },
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h5",
          "label": "Extra small"
        },
        {
          "value": "h6",
          "label": "Tiny"
        }
      ],
      "default": "h4"
    },
    {
      "type": "header",
      "content": "Alignment"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Background images"
    },
    {
      "type": "image_picker",
      "id": "insta_bg_1",
      "label": "Background image top left"
    },
    {
      "type": "image_picker",
      "id": "insta_bg_2",
      "label": "Background image bottom left"
    },
    {
      "type": "image_picker",
      "id": "insta_bg_3",
      "label": "Background image bottom right"
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "instagram",
      "name": "Instagram",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram",
      "settings": {
        "title": "Follow us on Instagram",
        "description": "<p>Shop your favorite styles from Instagram. jewellery@instagram</p>",
        "padding_top": 20,
        "padding_bottom": 20
      }
    }
  ]
}
{% endschema %}
