{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-bottom: {{ section.settings.padding_bottom }}px;
    padding-top: {{ section.settings.padding_top }}px;
    background: {{ section.settings.bg_color }};
  }
  #shopify-section-{{ section.id }} .logo-list-slider img{
    width: {{ section.settings.image_width }}px;
    margin: 0 auto;
  }
  {% for block in section.blocks %}
    .logo-list-item.block-{{ block.id }} .logo-title{
      color: {{ section.settings.list_text_color }};
    }  
    .logo-list-item.block-{{ block.id }} .logo-subheading{
      color: {{ section.settings.list_subheading_color }};
    }  
  {% endfor %}
  @media (max-width: 768px){
    #shopify-section-{{ section.id }} {
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{{ 'component-logo-listing.css' | asset_url | stylesheet_tag: preload: true }}

<div class="section--padding logo-listing-section">
  <div class="container">
    {% if section.settings.heading != blank %}
      <div
        class="logo-list-title title-wrapper {{ section.settings.heading_alignment }}"
        ms-aos
        data-ms-delay="100"
      >
        <h2 class="underline underline-{{ section.settings.heading_alignment }} heading-color title {{ section.settings.heading_size }}">{{ section.settings.heading | newline_to_br }}</h2>
      </div>
    {% endif %}
    <div
      class="logo-list-slider {% if section.settings.list_style == 'slider' %}swiper{% else %}list-grid{% endif %}"
      {%- if section.settings.list_style == 'slider' -%}data-slider-options='{ "spaceBetween": 16, "speed": 1000, "slidesPerView": 1, "breakpoints": { "320": { "slidesPerView": 2 }, "768": { "slidesPerView": 4 },  "1280": { "slidesPerView": {{ section.settings.desktop_row }} } },
      {%- if section.blocks.size > 1 -%} "loop": true, {%- endif -%} "autoplay": { "delay": 2500, "disableOnInteraction": true } }'{%- endif -%}>
      <div class="logo-list-collage-wrapper {% if section.settings.list_style == 'slider' %}swiper-wrapper{% endif %}">
        {% for block in section.blocks %}
          <div
            class="logo-list-item {% if section.settings.list_style == 'slider' %}swiper-slide{% endif %} block-{{ block.id }}"
            ms-aos
            data-ms-delay="{{ forloop.index | times: 100 }}">
            
            {%- if block.settings.image != blank -%}
              <lazy-image class="image-animate media img-wrapper">
                <img
                  src="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                  alt="{{ block.settings.image.alt | default: shop.name }}"
                  style="--object-position:{{ block.settings.image.presentation.focal_point }};"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                >
              </lazy-image>
            {%- else -%}
              <div class="index-highlights-img index-highlights-placeholder-img">
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {%- endif -%}
            <div class="content-logo-wrapper">
              {%- if block.settings.title != blank -%}
                <div class="logo-title">
                {{ block.settings.title | escape }}            
                </div>
              {%- endif -%}

              {%- if block.settings.subheading != blank -%}
                <span class="logo-subheading">
                  {{ block.settings.subheading }}
                </span>
              {%- endif -%}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{{ 'component-logo-listing.js' | asset_url }}" type="text/javascript" defer></script>

{% schema %}
{
  "name": "Logo listing",
  "tag": "section",
  "class": "section-logo-list",
  "disabled_on": {
    "groups": [
      "header",
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Text",
      "default": "Official partners"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Size",
      "options": [
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h3",
          "label": "Medium"
        },
        {
          "value": "h4",
          "label": "Small"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "list_style",
      "label": "List style",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "slider",
          "label": "Slider"
        }
      ],
      "default": "slider"
    },
    {
      "type": "range",
      "id": "desktop_row",
      "label": "Min. logo on single row desktop",
      "unit": "img",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3,
      "info": "This settings will only work when list style is set as Slider."
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "list_text_color",
      "label": "List title color"
    },
    {
      "type": "color",
      "id": "list_subheading_color",
      "label": "List subheading color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Section background color"
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Image size",
      "unit": "px",
      "min": 10,
      "max": 150,
      "step": 5,
      "default": 150
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Please use transparent image."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
