{{ 'section-main-page.css' | asset_url | stylesheet_tag: preload: true }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    overflow: hidden;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .default-page h3{
    color: {{ section.settings.heading_color }};
  }
  .default-page {
    color: {{ section.settings.content_color }};
  }
{%- endstyle -%}
<div class="default-page section-{{ section.id }}-padding"> 
  <div class="{% if section.settings.full_width %}container full-width{% else %}container-narrow{% endif %}">
    {%- if section.settings.default_bg_img_1 != blank -%}
      <div class="background-image vector-top">
        <lazy-image>
       <img src="{{ section.settings.default_bg_img_1 | image_url: width: section.settings.default_bg_img_1.width }}"
            width="{{ section.settings.default_bg_img_1.width }}"
            height="{{ section.settings.default_bg_img_1.height }}"
            loading="lazy"
            alt="Vector top">               
        </lazy-image>
      </div>
    {%- endif -%}
    {%- if section.settings.default_bg_img_2 != blank -%}
      <div class="background-image vector-left mobile-hide tablet-hide">
        <lazy-image>
         <img src="{{ section.settings.default_bg_img_2 | image_url: width: section.settings.default_bg_img_2.width }}"
            width="{{ section.settings.default_bg_img_2.width }}"
            height="{{ section.settings.default_bg_img_2.height }}"
            loading="lazy"
            alt="Vector right"> 

        </lazy-image>
      </div>
    {%- endif -%}

    <div class="page-width section-{{ section.id }}-padding">
      {%- render 'breadcrumbs' -%}
      {%  if section.settings.show_title == true %}
        <h1 class="main-page-title page-title h0 section-heading" ms-aos data-ms-delay="100">
          {{ page.title | escape }}
        </h1>
      {% endif %}
      <div class="rte" ms-aos data-ms-delay="200">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Show full width",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "default_bg_img_1",
      "label": "Background image top right"
    },
    {
      "type": "image_picker",
      "id": "default_bg_img_2",
      "label": "Background image middle left"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title"
    },  
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#153D47"
    },  
    { 
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#797979"
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    }
  ]
}
{% endschema %}
