{%- style -%}
  #shopify-section-{{ section.id }} {
    --collection_row: {{ section.settings.collection_row }};
    padding-top: {{ section.settings.padding_top | append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px' }};
  }
  :root{
    --collection-grid-spc:{{ section.settings.gap_spc  | append: 'px' }};
  }
  @media (min-width: 992px) {
    .container-narrow{
      max-width:958px;
    }
  }
  @media (max-width: 767px) {
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 | append: 'px' }};
    padding-bottom: {{ section.settings.padding_bottom | times: 0 | round: 0 | append: 'px' }};
  }
  #shopify-section-{{ section.id }} .collection-list-wrapper {
    row-gap: {{ section.settings.gap_spc | times: 0.50 | round: 0 | append: 'px' }};
    padding-bottom: {{ section.settings.gap_spc | times: 0.33 | round: 0 | append: 'px' }};
  }
}
{%- endstyle -%}

{{ 'component-collection-list.css' | asset_url | stylesheet_tag: preload: true }}

<div class="{% if section.settings.enable_full_width %}container{% else %}container-narrow{% endif %}">
  {%- if settings.bg_img_1 -%}
    <div class="list-bg-image top-right">
      <lazy-image>
        <img src="{{ settings.bg_img_1 | image_url: width: settings.bg_img_1.width }}"
          alt="{{ settings.bg_img_1.alt }}"
          width="{{ settings.bg_img_1.width }}"
          height="{{ settings.bg_img_1.height }}"
          loading="lazy"
          style="--object-postion:{{ settings.bg_img_1.presentation.focal_point }}">
      </lazy-image>
    </div>
  {%- endif -%}
  {%- if settings.bg_img_2 -%}
    <div class="list-bg-image top-left">
      <lazy-image>
        <img src="{{ settings.bg_img_2 | image_url: width: settings.bg_img_2.width }}"
          alt="{{ settings.bg_img_2.alt }}"
          width="{{ settings.bg_img_2.width }}"
          height="{{ settings.bg_img_2.height }}"
          loading="lazy"
          style="--object-postion:{{ settings.bg_img_2.presentation.focal_point }}">
      </lazy-image>
    </div>
  {%- endif -%}
  {%- if settings.bg_img_3 -%}
    <div class="list-bg-image middle-right">
      <lazy-image>
        <img src="{{ settings.bg_img_3 | image_url: width: settings.bg_img_3.width }}"
          alt="{{ settings.bg_img_3.alt }}"
          width="{{ settings.bg_img_3.width }}"
          height="{{ settings.bg_img_3.height }}"
          loading="lazy"
          style="--object-postion:{{ settings.bg_img_3.presentation.focal_point }}">
      </lazy-image>
    </div>
  {%- endif -%}
  {%- if settings.bg_img_4 -%}
    <div class="list-bg-image middle-left">
      <lazy-image>
        <img src="{{ settings.bg_img_4 | image_url: width: settings.bg_img_4.width }}"
          alt="{{ settings.bg_img_4.alt }}"
          width="{{ settings.bg_img_4.width }}"
          height="{{ settings.bg_img_4.height }}"
          loading="lazy"
          style="--object-postion:{{ settings.bg_img_4.presentation.focal_point }}">
      </lazy-image>
    </div>
  {%- endif -%}
  <div class="list-collection-header text--{{ section.settings.text_alignment }}">
    {%- if section.settings.page_heading != blank -%}
      <div class="section-heading">
        <h1 class="h2 heading-color">
          {{ section.settings.page_heading | escape }}
        </h1>
      </div>
    {%- endif -%}
    {%- if section.settings.page_description -%}
      <div class="section-description">
        {{ section.settings.page_description }}
      </div>
    {%- endif -%}
  </div>
  {%- render 'breadcrumbs', title: section.settings.page_heading -%}
  {%- paginate collections by section.settings.show_per_page -%}
    <div class="collection-list-wrapper {% if section.settings.enable_overlay == true %}enable-overlay{% endif %} text-{{ section.settings.title_alignment }}">
        {%- for collection in collections -%}
          {%- render 'collection-card',
            index: forloop.index,
            collection: collection,
            placeholder_image: section.settings.placeholder_image,
            media_ratio: section.settings.media_ratio,
            media_fill: section.settings.fill_media_zooom
          -%}
        {%- endfor -%}
      </div>
    {%- render 'pagination', paginate: paginate -%}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "Collection list",
  "tag": "section",
  "class": "section-collection-list",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type":"range",
      "id": "gap_spc",
      "label":"Space between row",
      "min": 5,
      "max":100,
      "step": 5,
      "default":100
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Enable full width",
      "default": false
    },
    {
      "type": "text",
      "id": "page_heading",
      "label": "Heading",
      "default": "Collections"
    },
    {
      "type": "richtext",
      "id": "page_description",
      "label": "Description"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Header alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "collection_row",
      "label": "Desktop collection in a row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "show_per_page",
      "label": "Collection per page",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 9
    },
    {
      "type": "header",
      "content": "Background images"
    },
    {
      "type": "image_picker",
      "id": "bg_img_1",
      "label": "Background image top right"
    },
    {
      "type": "image_picker",
      "id": "bg_img_2",
      "label": "Background image top left"
    },
    {
      "type": "image_picker",
      "id": "bg_img_3",
      "label": "Background image middle right"
    },
    {
      "type": "image_picker",
      "id": "bg_img_4",
      "label": "Background image middle left"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Enable overlay",
      "default": false
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "media_ratio",
      "label": "Shape",
      "options": [
        {
          "value": "original",
          "label": "Original"
        },
        {
          "value": "portrait",
          "label": "Portrait (2:3)"
        },
        {
          "value": "square",
          "label": "Square (1:1)"
        },
        {
          "value": "landscape",
          "label": "Landscape (3:2)"
        },
        {
          "value": "full-screen",
          "label": "Full screen (4:3)"
        },
        {
          "value": "wide-screen",
          "label": "Wide screen (16:9)"
        }
      ],
      "default": "original"
    },
    {
      "type": "checkbox",
      "id": "fill_media_zooom",
      "label": "Zoom image to fill space",
      "default": true,
      "info": "No effect when media shape set to 'Original'"
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 50
    }
  ]
}
{% endschema %}
