{{ 'section-main-page.css' | asset_url | stylesheet_tag: preload: true }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="{% if section.settings.full_width %}container full-width{% else %}container-narrow{% endif %}">
  <div class="page-width section-{{ section.id }}-padding">
    {%- render 'breadcrumbs' -%}
    <h1 class="main-page-title page-title h0 section-heading" ms-aos data-ms-delay="100">
      {{ page.title | escape }}
    </h1>
    <div class="rte" ms-aos data-ms-delay="200">
      {{ page.content }}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Show full width",
      "default": false
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    }
  ]
}
{% endschema %}
