{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background: {{ section.settings.background_color }};
  }

  @media(max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{{ 'section-main-blog.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-pagination.css' | asset_url | stylesheet_tag: preload: true }}

{%- paginate blog.articles by section.settings.show_per_page -%}
  <div class="main-blog section-{{ section.id }}-padding">
    
    <div class="blog-background">
      {%- if section.settings.vector_top != blank -%}
        <div class="background-image vector-top">
          <lazy-image>
            <img src="{{ section.settings.vector_top | image_url: width: section.settings.vector_top.width }}"
              width="{{ section.settings.vector_top.width }}"
              height="{{ section.settings.vector_top.height }}"
              loading="lazy"
              alt="Vector top">
          </lazy-image>
        </div>
      {%- endif -%}
      {%- if section.settings.vector_left != blank -%}
        <div class="background-image vector-left">
          <lazy-image>
            <img src="{{ section.settings.vector_left | image_url: width: section.settings.vector_left.width }}"
              width="{{ section.settings.vector_left.width }}"
              height="{{ section.settings.vector_left.height }}"
              loading="lazy"
              alt="Vector left">
          </lazy-image>
        </div>
      {%- endif -%}
      {%- if section.settings.vector_right != blank -%}
        <div class="background-image vector-right">
          <lazy-image>
            <img src="{{ section.settings.vector_right | image_url: width: section.settings.vector_right.width }}"
              width="{{ section.settings.vector_right.width }}"
              height="{{ section.settings.vector_right.height }}"
              loading="lazy"
              alt="Vector right">
          </lazy-image>
        </div>
      {%- endif -%}


    <div class="container-narrow">
       {%- render 'breadcrumbs' -%}  

      <div class="blog-articles">
        {% if blog.articles.size != 0 %}
          {%- for article in blog.articles -%}
            {%- render 'article-card-blog',
              article: article,
              index: forloop.index,
              show_image: section.settings.show_image,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_excerpt: section.settings.show_excerpt,
              show_tags: section.settings.show_tags,
              date_patterns: section.settings.date_formats_patterns,
              media_ratio: section.settings.media_ratio,
              blog_comment: blog.comments_enabled? 
            -%}
          {%- endfor -%}
        {% else %}
          <p class="align-center justify-center" mag-animation data-mag-delay="200">{{ 'blogs.article.empty' | t }}</p>
        {% endif %}
      </div>
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%} 
  </div>
</div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Main blog",
  "tag": "section",
  "class": "section-main-blogs",
  "settings": [
    {
      "type": "range",
      "id": "show_per_page",
      "label": "Article per page",
      "min": 3,
      "max": 20,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Article"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "select",
      "id": "date_formats_patterns",
      "label": "Date formats",
      "options": [
        { "label": "DD MM, YY", "value": "%d %b, %Y" },
        { "label": "MM DD, YY", "value": "%b %d, %Y" },
        { "label": "YY-DD-MM", "value": "%Y-%d-%b" }
      ],
      "default": "%b %d, %Y"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": true
    },
    {
      "type": "select",
      "id": "article_content_align",
      "options": [
        { 
          "value": "left", 
          "label": "Left" 
        },
        { 
          "value": "center", 
          "label": "Center" 
        },
        { 
          "value": "right", 
          "label": "Right" 
        }
      ],
      "default": "left",
      "label": "Content alignment"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "article_color",
      "label": "Article background"
    },
    {
      "type": "color",
      "id": "title_color",
      "default": "#153D47",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#797979",
      "label": "Article content"
    },
    {
      "type": "color",
      "id": "date_bg_color",
      "default": "#EFEFEF",
      "label": "Field background"
    },
    {
      "type": "color",
      "id": "link_color",
      "default": "#000000",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "border_color",
      "default": "#E9CFB4",
      "label": "Border"
    },
    {
      "type": "header",
      "content": "Section background images"
    },
    {
      "type": "paragraph",
      "content": "Please use transparent image."
    },
    {
      "type": "image_picker",
      "id": "vector_top",
      "label": "Vector top"
    },
    {
      "type": "image_picker",
      "id": "vector_left",
      "label": "Vector left"
    },
    {
      "type": "image_picker",
      "id": "vector_right",
      "label": "Vector right"
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "Bottom",
      "default": 36
    }
  ]
}
{% endschema %}