{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{{ 'multicolumn.css' | asset_url | stylesheet_tag: preload: true }}

<section class="multicolumn section-{{ section.id }}-padding" >
  <div class="multi-column-wrapper" style="background-color: {{ section.settings.section_bg_color }};">
  <div class="{% if section.settings.layout == 'container' %}container {% elsif section.settings.layout == 'container-narrow' %}container-narrow {% endif %}multicolumn-wrap">

    {%- if section.settings.img_top_right != blank -%}
      <div class="coll-bg-image top-right">
        <lazy-image>
          <img src="{{ section.settings.img_top_right | image_url: width: section.settings.img_top_right.width }}"
            alt="{{ section.settings.img_top_right.alt }}"
            width="{{ section.settings.img_top_right.width }}"
            height="{{ section.settings.img_top_right.height }}"
            loading="lazy">
        </lazy-image>
      </div>
    {%- endif -%}

    <div class="multi-column-wrap">
      
      {% if section.settings.heading != blank %}
          <h2 style="color:{{ section.settings.heading_color }}">{{ section.settings.heading }}</h2>
      {% endif %}

        <div class="multi-columns">
          {% for block in section.blocks %}
              <div class="multi-column" style="background-color: {{ section.settings.col_bg_color }};">

                {% if block.settings.svg_icon != blank %}
                  <div class="column-icon">
                    <img src="{{ block.settings.svg_icon | image_url: width: block.settings.svg_icon.width }}"
                      alt="{{ block.settings.svg_icon.alt }}"
                      width="{{ block.settings.svg_icon.width }}"
                      height="{{ block.settings.svg_icon.height }}"
                      loading="lazy"
                      style="--object-position:{{ block.settings.svg_icon.presentation.focal_point }}">
                    </div>
                  {% endif %}

                  {% if block.settings.title != blank %}
                  <div class="column-title" style="color:{{ section.settings.col_title_color }}">
                    <span class="h5">{{ block.settings.title }}</span>
                    </div>
                  {% endif %}

                  {% if block.settings.text != blank %}
                  <div class="column-text text-center" style="color:{{ section.settings.col_text_color }}">
                     {{ block.settings.text }}
                  </div>
                {% endif %} 
              </div>
          {% endfor %}
      </div>

    </div>
       
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Multicolumn",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "container",
          "label": "1440px"
        },
        {
          "value": "container-narrow",
          "label": "910px"
        }
      ],
      "default": "container",
      "label": "Desktop layout"
    },
      {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#082A32"
    },
    {
      "type": "header",
      "content": "Column customization"
    },
    {
      "type": "color",
      "id": "col_title_color",
      "label": "Title color",
      "default": "#082A32"
    }, 
    {
      "type": "color",
      "id": "col_text_color",
      "label": "Text color",
      "default": "#797979"
    }, 
    {
      "type": "color",
      "id": "col_bg_color",
      "label": "Background color",
      "default": "#FBF5F0"
    },
    {
      "type": "header",
      "content": "Section card customization"
    },
    {
      "type": "image_picker",
      "id": "img_top_right",
      "label": "Background image right"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Top padding",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Bottom padding",
        "default": 36
      }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "svg_icon",
          "label": "SVG icon"
        },
        {
          "type": "text",
          "id": "title",  
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "title": "Column 1",
            "text": "<p>Column 1 description.</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "title": "Column 2",
            "text": "<p>Column 2 description.</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "title": "Column 3",
            "text": "<p>Column 3 description.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
