{%- style -%}
    #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .new-featured-blog-section .featured-blog-heading{
      color: {{ section.settings.heading_color }};
    }

    @media (max-width:768px){
      #shopify-section-{{ section.id }}{
        padding-top: {{ section.settings.padding_top  | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom  | times: 0.75 | round: 0 }}px;
      }
    }

    {% if section.settings.mobile_slider == true %}
      @media (min-width:768px){
          .blog-articles {
              display: grid;
              grid-template-columns: 2fr 1fr;
              grid-auto-rows: 1fr;
              gap: 16px;
            }
            .article-card-wrapper {
              height: 100%;
            }
            
            /* First article spans two rows */
            .first-article {
              grid-row: span 2;
            }
          }
        @media (max-width:767px){
        .blog-articles {
            display: flex;
            grid-template-columns: 1fr;
        }
      }
        {% else %}
          .blog-articles {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 16px;
            }
        @media (max-width: 768px){
          .blog-articles {
            grid-template-columns: repeat(1, 1fr);
          }
  }
      {% endif %}
.custom-articles-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.left-article {
  grid-row: span 2;
  position: relative;
  color: white;
}

.left-article .media-wrapper img {
  object-fit: cover;
  height: 100%;
}

.left-article .content-wrapper {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100%;
}

.right-articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-article {
  display: flex;
  gap: 16px;
}

.right-article .media-wrapper {
  width: 40%;
  flex-shrink: 0;
}

.right-article .content-wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay-style {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

{%- endstyle -%}

{{ 'component-featured-blog.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag: preload: true }}

{%- assign blog = blogs[section.settings.blog] -%}

<section class="new-featured-blog-section">
  <div class="{% if section.settings.enable_full_width %}container {% else %}container-narrow {% endif %}{% if section.settings.mobile_slider == true %}swiper featured-blog-swiper{% endif %}">
    {%- if section.settings.text_alignment -%}
      <{{ section.settings.heading_size }}
        class="featured-blog-heading text-{{ section.settings.text_alignment }}"
        ms-aos
        data-ms-delay="100"
      >
        {{ section.settings.title }}
      </{{ section.settings.heading_size }}>
    {%- endif -%}

    {% if blog.articles.size == 0 %}
      <p class="text-center justify-center d-flex" ms-aos data-ms-delay="200">{{ 'blogs.article.empty' | t }}</p>
    {% else %}
      <div
        class="blog-articles {% if section.settings.mobile_slider == true %}swiper-wrapper{% endif %}"
        ms-aos
        data-ms-delay="200"
      >
        {%- for article in blog.articles limit: section.settings.article_limit -%}
          <div class="mobile-slider {% if section.settings.mobile_slider == true %}swiper-slide{% endif %} article-card-wrapper {% if forloop.first %}first-article{% endif %}">
           <div class="custom-articles-layout">
            <div class="left-article article-card">
              {% render 'article-card', article: article, overlay: true,
              index: forloop.index,
              show_image: section.settings.show_image,
              show_author: section.settings.show_author,
              show_date: section.settings.show_date,
              show_tags: section.settings.show_tags,
              tag_bg: section.settings.tag_bg,
              tag_color: section.settings.tag_color,
              date_patterns: section.settings.date_formats_patterns,
              date_comment_bg: section.settings.date_comment_bg,
              date_comment_color: section.settings.date_comment_color,
              show_excerpt: section.settings.show_excerpt,
              media_ratio: section.settings.media_ratio,
              blog_comment: blog.comments_enabled?,
              article_card_bg: section.settings.article_background,
              article_text_color: section.settings.article_color,
              excerpt_color: section.settings.excerpt_color
              %}
            </div>
           </div>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</section>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" type="text/javascript" defer></script>
<script src="{{ 'featured-blog.js' | asset_url }}" type="text/javascript" defer></script>

{% schema %}
{
  "name": "t:sections.blog.featured_blogs.name",
  "tag": "section",
  "class": "section-featured-blog",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.blog.settings.layout.label"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.general.full_width",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.header.content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.blog.settings.header.content",
      "default": "Blog posts"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general.font_size.content",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.general.font_size.extra_large.label"
        },
        {
          "value": "h2",
          "label": "t:sections.general.font_size.large_size.label"
        },
        {
          "value": "h3",
          "label": "t:sections.general.font_size.medium_size.label"
        },
        {
          "value": "h4",
          "label": "t:sections.general.font_size.small_size.label"
        },
        {
          "value": "h5",
          "label": "t:sections.general.font_size.extra_small.label"
        },
        {
          "value": "h6",
          "label": "t:sections.general.font_size.tiny.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.general.alignment.content",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.alignment.alignment_left.label"
        },
        {
          "value": "center",
          "label": "t:sections.general.alignment.alignment_center.label"
        },
        {
          "value": "right",
          "label": "t:sections.general.alignment.alignment_right.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "t:sections.general.color.heading_color.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.select_blog.content"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.blog.settings.select_blog.label"
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.select_blog.customization.content"
    },
    {
      "type": "range",
      "id": "article_limit",
      "label": "t:sections.blog.settings.select_blog.customization.article_limit.label",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "t:sections.blog.settings.select_blog.customization.show_image.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.blog.settings.select_blog.customization.show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:sections.blog.settings.select_blog.customization.show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.blog.settings.select_blog.customization.show_tags.label",
      "default": true
    },
    {
      "type": "select",
      "id": "date_formats_patterns",
      "label": "t:sections.blog.settings.select_blog.customization.date_formats.content",
      "options": [
        {
          "label": "t:sections.blog.settings.select_blog.customization.date_formats.options.dmy",
          "value": "%d %b, %Y"
        },
        {
          "label": "t:sections.blog.settings.select_blog.customization.date_formats.options.mdy",
          "value": "%b %d, %Y"
        },
        {
          "label": "t:sections.blog.settings.select_blog.customization.date_formats.options.ydm",
          "value": "%Y-%d-%b"
        }
      ],
      "default": "%b %d, %Y"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "t:sections.blog.settings.select_blog.customization.show_excerpt.label",
      "default": true
    },
    {
      "type": "select",
      "id": "media_ratio",
      "label": "t:sections.general.image_shape.content",
      "options": [
        {
          "value": "original",
          "label": "t:sections.general.image_shape.original_shape.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.general.image_shape.potrait_shape.label"
        },
        {
          "value": "square",
          "label": "t:sections.general.image_shape.square_shape.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.general.image_shape.landscape_shape.label"
        },
        {
          "value": "full-screen",
          "label": "t:sections.general.image_shape.full_screen_shape.label"
        },
        {
          "value": "wide-screen",
          "label": "t:sections.general.image_shape.wide_screen_shape.label"
        }
      ],
      "default": "original"
    },
    {
      "type": "header",
      "content": "t:sections.general.color.content"
    },
    {
      "type": "color",
      "id": "article_background",
      "label": "t:sections.general.color.background_color.label"
    },
    {
      "type": "color",
      "id": "article_color",
      "label": "t:sections.blog.settings.select_blog.customization.article_color.label"
    },
    {
      "type": "color",
      "id": "excerpt_color",
      "label": "t:sections.blog.settings.select_blog.customization.excerpt_color.label"
    },
    {
      "type": "color",
      "id": "date_comment_bg",
      "label": "t:sections.blog.settings.select_blog.customization.date_comment_bg.label"
    },
    {
      "type": "color",
      "id": "date_comment_color",
      "label": "t:sections.blog.settings.select_blog.customization.date_comment_text.label"
    },
    {
      "type": "color",
      "id": "tag_bg",
      "label": "t:sections.blog.settings.select_blog.customization.tag_background.label"
    },
    {
      "type": "color",
      "id": "tag_color",
      "label": "t:sections.blog.settings.select_blog.customization.tag_title.label"
    },
    {
      "type": "header",
      "content": "t:sections.blog.settings.select_blog.customization.mobile_customize.label"
    },
    {
      "type": "checkbox",
      "id": "mobile_slider",
      "label": "t:sections.blog.settings.select_blog.customization.mobile_customize.enable_slider.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.general.section_vertical_spacing.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:sections.general.section_vertical_spacing.top_padding.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "label": "t:sections.general.section_vertical_spacing.bottom_padding.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.blog.featured_blogs.presets.name",
      "settings": {}
    }
  ]
}
{% endschema %}
