{%- style -%}
  #shopify-section-{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
      color: {{ section.settings.text_color }};
    }
    #shopify-section-{{ section.id }} a {
      color: {{ section.settings.text_color }};
    }
{%- endstyle -%}

<div class="password-page-footer" mag-animation data-mag-delay="300">
  <div class="container">
    <div class="password-footer">
      {{ 'storefront_password.login.admin_link_html' | t }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.password.footer.name",
  "tag": "section",
  "class": "section-password-footer",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.general.color.text_color.label",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "t:sections.general.color.background_color.label",
      "default": "#FFF"
    }
  ]
}
{% endschema %}
