{%- style -%}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.text_color }};
  }
  #shopify-section-{{ section.id }} .login-btn {
    color: {{ section.settings.text_color }};
  }
{%- endstyle -%}

<div class="password-page-header">
  <div class="container">
    <div class="password-header">
      <div class="logo-wrapper">
        {% if section.settings.logo_img != blank %}
          <img
            width="200"
            height="200"
            src="{{ section.settings.logo_img | image_url: width: section.settings.logo_img.width }}"
            loading="lazy"
            alt="{{ shop.name }}"
            style="object-position: {{ section.settings.logo_img.presentation.focal_point }};"
          >
        {% else %}
          <h2>{{ shop.name }}</h2>
        {% endif %}
      </div>
      <div class="login-box">
        <span id="loginBtn" class="btn-link-effect login-btn">{{ 'storefront_password.login.link' | t }}</span>
        <div class="sotrefront-form-index">
          <span class="closePop" id="closeLoginBtn">
            {%- render 'icons', icon: 'cross' -%}
          </span>
          {% form 'storefront_password' %}
            <meta
              class="ms-modal-trigger"
              data-ms-modal-contentelement="#password-login-container"
              data-ms-modal-size="small"
              {% if form.errors %}
                data-ms-modal-launch="true"
              {% endif %}
            >
            <label for="password">{{ 'storefront_password.login.label' | t }}</label>
            {{ form.errors | default_errors }}
            <div class="password-login__input-row" ms-aos data-ms-delay="200">
              <input type="password" name="password" id="password" required>
              <button class="btn btn-secondary password-login__button" name="commit" type="submit">
                {{ 'storefront_password.login.button' | t }}
              </button>
            </div>
          {% endform %}
        </div>
        <div class="modal-overlay" id="password-overlay"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "section-password-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "Store logo"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FFF"
    }
  ]
}
{% endschema %}
