{{ 'component-main-product.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-featured-product.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-product-model.css' | asset_url | stylesheet_tag:preload: true}}
{{ 'quick-view.css' | asset_url | stylesheet_tag:preload: true }}

{% assign quick_variant_type = settings.variant_type %}
<main-product>
  <div class="container">
    <div class="product-wrapper media-width-{{ settings.media_width }}">
        <div class="product-gallery" mag-animation data-mag-delay="100">
            <div class="product-slider-content"> 
            <div class="product-thumbnail {%- if settings.show_thumbs == false or product.media.size == 1 %} hidden{%- endif -%}">
              <div class="swiper-container product-thumbnail-slide">
                  <div class="swiper gallery-thumbs quick-view-thumbs product__slider-main">
                    {%- render 'product-thumbs', classes: 'slide-item', product: product, media_ratio: settings.media_ratio, media_fill: settings.fill_media_zooom -%}
                  </div>
              </div>
            </div>
            <div class="product-slider slider__images {%- if settings.show_thumbs == false %} full-width{%- endif -%}">
              <div class="main-image-slider swiper gallery-main quick-view-main swiper-container">

                <div class="product-media swiper-wrapper" id="product-gallery">
                  {% for media in product.media %}
                    <div class="media-item swiper-slide {% if forloop.first %}active{% endif %}" data-media-id="{{ media.id }}">
                      <div class="slider__image">
                        {% case media.media_type %}
                          {% when 'image' %}
                            {% assign image_group = media.alt | split: 'group-' | last %}
                            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                              <!-- Link to the big image, not mandatory, but usefull when there is no JS -->
                              <a
                                href="{{ media | image_url:width: media.width }}"
                                data-caption="Sea side, south shore<br><em class='text-muted'>© Dominik Schröder</em>"
                                data-width="{{ media.width }}"
                                data-height="{{ media.height }}"
                                itemprop="contentUrl"
                              >
                                <!-- Thumbnail -->
                                <img
                                  class="variant-image"
                                  src="{{ media | image_url:width: media.width }}"
                                  alt="{{ image_group | escape }}"
                                  loading="lazy"
                                  width="{{ media.width }}"
                                  height="{{ media.height }}"
                                  data-variant="{{ image_group | default: 'all' }}"
                                >
                              </a>
                            </figure>
                          {% when 'video' %}
                            <div class="product-video">
                              {{ media | video_tag: controls: true, loop: true, muted: true, aria-label: 'Product video'}}
                            </div>
                          {% when 'external_video' %}
                            <div class="product-external-video">
                              {{ media | external_video_tag }}
                            </div>
                          {% when 'model' %}
                            <product-model class="product-3D-model swiper-no-swiping">
                              {{ media | model_viewer_tag }}
                            </product-model>
                          {% else %}
                            <div class="unsupported-media">
                              {{ 'product.unsupported_media' | t }}
                              {{ media.media_type }}
                            </div>
                        {% endcase %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
                

                {% comment %}
                  {%- render 'product-media', classes: 'slide-item', product: product, media_ratio: settings.media_ratio, media_fill: settings.fill_media_zooom, image_zoom: section.settings.image_zoom -%}
                {% endcomment %}
                 
    
                  <div class="swiper-pagination {%- if settings.show_thumbs == false or product.media.size == 1 %} hidden{%- endif -%}" data-main-product ></div>
                <div class="swipersliderbtn">     
                  <div class="swiper--prev" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="popupContent" aria-disabled="true"></div>
                  <div class="swiper--next" tabindex="0" role="button" aria-label="Next slide" aria-controls="popupContent" aria-disabled="false"></div>  
                </div>
    
    
                <div class="img-overlay-icon">
                  <div class="icon-content">
                    <div class="icon-inner-content product-zoom-icon quickphotoswipe">
                      {% render 'icons', icon:'zoom-icon' %}
                    </div>
                    <div class="icon-inner-content open-quick-popup">
                      {%  render 'icons', icon:'message-icon' %}
                    </div>
                  </div>
                </div>
    
                <div class="popup-overlay" id="popupOverlay">
                  <div class="popup-content">
                      <span  class="close-btn">&times;</span>
                      <div class="product-share">
                        <p>{{ 'products.product.copy_link' | t }}</p>
                        <div class="share-product-url">
                          <div class="form-field">
                              <input id="to-link" type="text" class="field__input" id="url"  value="{{ shop.url | append: product.url }}" placeholder="{{ 'products.product.share_url' | t }}" data-url="{{ shop.url | append: product.url }}"  onclick="this.select();" readonly="">
                              <label class="field__label hidden" for="url">{{ 'products.product.link' | t }}</label>
                          </div>
                          <div class="btn-copy-quick"><svg class="icon icon-clipboard" width="11" height="13" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z" fill="currentColor"></path></svg>
                          {{ 'products.product.copy_link' | t }}
                        </div>
                      </div>
                      <div class=share-popup-bottom>
                        <p>{{ 'products.product.share' | t }}</p>
                      </div>
                      <div class="product-social-share">
                      {% render 'social-share-icons'  %}
                    </div>
                  </div>
                  </div>
              </div>
    
              </div>
            </div>
            </div>
          </div>

      <div class="product-content-wrapper">
        <div class="product-blocks">
          <div class="product-block">
            <h3 class="product-title">{{ product.title | escape }}</h3>
          </div>
          {%- if product.selected_or_first_available_variant.sku != blank -%}
            <div class="product-sku">
              <span class="variant-sku">
               <p>{{ 'product.sku' | t }}:<span class="sku-content">{{ product.selected_or_first_available_variant.sku }}</span></p>
              </span> 
              <span class="product-stock-status">
                 {% if product.variants.first.inventory_quantity > 0 %}
                     <p class="in-stock-message pro-status-message">{{ 'products.product.in_stock' | t }}</p>
                 {% else %}
                     <p class="out-of-stock-message pro-status-message">{{ 'products.product.out_of_stock' | t }}</p>
                 {% endif %}
              </span>
           </div>
          {%- endif -%}
          <div class="product-block">
            {%- render 'price', product: product -%}
            {%- if product -%}
              <div class="price-description">
                {% form 'product', product %}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {% endform %}
              </div>
            {%- endif -%}
            <small class="tax-note caption-large rte">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </small>
          </div>  

                {% unless product.has_only_default_variant %}
                  {% if product.variants.first.inventory_quantity >= 1 %}
          <div class="products-sold-mess">
            <span>{% render 'icons', icon:'fire-icon'  %}</span>
            <div id="sold-message" data-min-sold="30" data-max-sold="50" data-hours="21">
                Loading...
            </div>
          </div> 
               {% endif %}
                   {% endunless %} 
          {% comment %} // stock-indicator {% endcomment %}
          {% if product.variants.first.inventory_quantity == 0 %} 
            <div class="stock-indicator product-block block-{{ block.type }}">  
            <div class="out-of-stock-message">{{ 'products.product.out_of_stock' | t }}</div>  
            </div> 
            {% else %}
              <div class="stock-indicator product-block block-{{ block.type }}">
                <p>
                  {{ 'products.product.stock_warning_html' | t }}
                </p>
                <div class="stock-bar-container" data-variant="{{ product.variants.first.inventory_quantity }}">
                  <div class="stock-bar" id="stock-bar"></div>
                </div>
            </div> 
              {% endif %}
         <div {{ variant_type }} class="product-block">
            {%- render 'product-variants',
              product: product,
              block:block,  
              quick_variant_type: quick_variant_type
            -%}
          </div>
          <div class="product-block block-buy_button">
            {%- if product -%}
              {%- form 'product', product, novalidate: 'novalidate', data-product-form: '' -%}
                {% if product.selling_plan_groups.size > 0 %}
                  <div class="selling-plans-wrapper">
                    <label for="plans">{{ 'product.selling_plan.title' | t }}</label>
                    <select name="selling_plan" id="plans">
                      <option value="">{{ 'product.selling_plan.single_purchase' | t }}</option>
                      {% for variant in product.variants %}
                        <optgroup label="{{ variant.title }}">
                          {% for allocation in variant.selling_plan_allocations %}
                            <option value="{{ allocation.selling_plan.id }}">
                              {{ allocation.selling_plan.name }}
                            </option>
                          {% endfor %}
                        </optgroup>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}
                <select name="id" id="mainVaritnasList" style="display:none;">
                  {%- for variant in product.variants -%}
                    <option
                      {% if product.selected_or_first_available_variant.id == variant.id -%}
                        selected
                      {%- endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                    </option>
                  {%- endfor -%}
                </select>
                <div class="error" style="display:none;">
                  {%- render 'icons', icon: 'cross' -%}
                  <span data-error-text></span>
                </div>
            
              {%- endform -%}
              <div class="product-block block-{{ block.type }}">
                {% comment %}
                {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id -%}
                {% endcomment %}
                  <div class="checkout-btn"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section.id }}"
    >
      <svg style="display: none">
        <symbol id="icon-error" viewBox="0 0 13 13">
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </symbol>
      </svg>
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form shopify-product-form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
          %}
            disabled
          {% endif %}
          class="product-variant-id"
        >
        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}
   
        <label for="pdpQnt" class="qtylabeltitle">{{ 'product.quantity_picker' | t }}</label>

        <div class="qua-atc-btn">
     
          <div class="quantity-picker-wrapper cart-qnt">
            <div class="error" style="display:none;">
              {%- render 'icons', icon: 'cross' -%}
              <span data-error-text></span>
            </div>
            <label for="pdpQnt" class="visuallyhidden">{{ 'product.quantity_picker' | t }}</label>
              <quantity-picker class="qnt-input-wrapper global-qty-picker">
              <button
                type="button"
                class="btn qnt-input qnt-dec"
                {%- if product.quantity == 1 %}
                  disabled
                {%- endif -%}
              >
                <span class="visually-hidden">{{ 'products.product.quantity_decrease' | t }}</span>
                {%- render 'icons', icon: 'minus' -%}
              </button>
              <label for="quantity-{{ product.id }}" class="sr-only">Quantity</label>
                <input
                  class="featured-pro-btn"
                  id="quantity-{{ product.id }}"
                  type="number"
                  name="quantity"
                  min="1"
                  pattern="[0-9]*"
                  data-id="{{ product.id }}"
                  value="1"
                />  
              <button type="button" class="btn qnt-input qnt-inc">
                <span class="visually-hidden">{{ 'products.product.quantity_increase' | t }}</span>
                {%- render 'icons', icon: 'plus' -%}
              </button>
            </quantity-picker>
          </div>
          <div tabindex="-1" class="product-form__buttons">
            <button
               tabindex="0"
              id="ProductSubmitButton-{{ section_id }}"
              type="submit"
              name="add"
              class="product-form__submit atc-btn btn btn-primary"
              {% if product.selected_or_first_available_variant.available == false
                or quantity_rule_soldout
                or product.selected_or_first_available_variant == null
              %}
                disabled
              {% endif %}
            >
              <span class="atcbtn-content">
                {%- if product.selected_or_first_available_variant == null -%}
                  <p class="atcbtn-text">{{ 'product.unavailable_product' | t }}</p>
                {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                  <span class="addtocart-icon"> {% render 'addtocart-icon' %}</span>
                  <p class="atcbtn-text">{{ 'product.sold_out' | t }}</p>
                {%- else -%}
                  <span class="addtocart-icon"> {% render 'addtocart-icon' %}</span>
                  <span class="atcbtn-text">{{ 'product.add_to_cart' | t }}</span>
                {%- endif -%}
              </span>
            </button>
          </div>
        </div>
          <div class="checkoutbtn-text">
            <div class="buy-now-btn checkout-button" data-buynow>
              {{ form | payment_button }}
            </div>
          </div>
      {%- endform -%}
    </div>

              </div>
            {%- endif -%}
      
          </div>
          <div class="view-product-wrapper">
            <a href="{{ product.url }}">{{ 'sections.view_full_details' | t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="application/json" id="product_json">{{ product | json }}</script>
  <script type="application/json" id="variants_json">{{ product.variants | json }}</script>
  <script type="application/json" id="selected_variants_json">{{ product.selected_or_first_available_variant | json }}</script>
  
  
</main-product>

<script src="{{ 'component-product-model.js' | asset_url }}" type="text/javascript" defer></script>
<script src="{{ 'component-product-zoom.js' | asset_url }}" type="text/javascript" defer></script>


{% schema %}
{
  "name": "Product",
  "class": "section-main-product",
  "tag": "section"
}
{% endschema %}
