{{ 'component-main-product.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-featured-product.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-product-model.css' | asset_url | stylesheet_tag:preload: true}}
{{ 'quick-view.css' | asset_url | stylesheet_tag:preload: true }}

{% assign quick_variant_type = settings.variant_type %}
<main-product>
  <div class="container">
    <div class="product-wrapper media-width-{{ settings.media_width }}">
        <div class="product-gallery" mag-animation data-mag-delay="100">
            <div class="product-slider-content"> 
            <div class="product-thumnails {%- if settings.show_thumbs == false or product.media.size == 1 %} hidden{%- endif -%}">
              <div class="swiper-container product-thumnails-slide">
                  <div class="swiper gallery-thumbs product__slider-main">
                    {%- render 'product-thumbs', classes: 'slide-item', product: product, media_ratio: settings.media_ratio, media_fill: settings.fill_media_zooom -%}
                  </div>
              </div>
            </div>
            <div class="product-slider slider__images {%- if settings.show_thumbs == false %} full-width{%- endif -%}">
              <div class="main-image-slider swiper gallery-main swiper-container">
                  {%- render 'product-media', classes: 'slide-item', product: product, media_ratio: settings.media_ratio, media_fill: settings.fill_media_zooom, image_zoom: section.settings.image_zoom -%}
                
                  {% render 'pswp-code' %}
    
                  <div class="swiper-pagination {%- if settings.show_thumbs == false or product.media.size == 1 %} hidden{%- endif -%}" data-main-product ></div>
                <div class="swipersliderbtn">     
                  <div class="swiper--prev" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="popupContent" aria-disabled="true"></div>
                  <div class="swiper--next" tabindex="0" role="button" aria-label="Next slide" aria-controls="popupContent" aria-disabled="false"></div>  
                </div>
    
    
                <div class="img-overlay-icon">
                  <div class="icon-content">
                    <div class="icon-inner-content product-zoom-icon checkzoombutton">
                      {% render 'icons', icon:'zoom-icon' %}
                    </div>
                    <div class="icon-inner-content open-quick-popup">
                      {%  render 'icons', icon:'message-icon' %}
                    </div>
                  </div>
                </div>
    
                <div class="popup-overlay" id="popupOverlay">
                  <div class="popup-content">
                      <span class="close-btn">&times;</span>
                      <div class="product-share">
                        <p>{{ 'products.product.copy_link' | t }}</p>
                        <div class="share-product-url">
                          <div class="form-field">
                              <input id="to-link" type="text" class="field__input" id="url"  value="{{ shop.url | append: product.url }}" placeholder="{{ 'products.product.share_url' | t }}" data-url="{{ shop.url | append: product.url }}"  onclick="this.select();" readonly="">
                              <label class="field__label hidden" for="url">{{ 'products.product.link' | t }}</label>
                          </div>
                          <div class="btn-copy" id="copylink" onClick="CopyTolink('to-link')"><svg class="icon icon-clipboard" width="11" height="13" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 1a1 1 0 011-1h7a1 1 0 011 1v9a1 1 0 01-1 1V1H2zM1 2a1 1 0 00-1 1v9a1 1 0 001 1h7a1 1 0 001-1V3a1 1 0 00-1-1H1zm0 10V3h7v9H1z" fill="currentColor"></path></svg>
                          {{ 'products.product.copy_link' | t }}
                        </div>
                      </div>
                      <div class=share-popup-bottom>
                        <p>{{ 'products.product.share' | t }}</p>
                      </div>
                      <div class="product-social-share">
                      {% render 'social-share-icons'  %}
                    </div>
                  </div>
                  </div>
              </div>
    
              </div>
            </div>
            </div>
          </div>

      <div class="product-content-wrapper">
        <div class="product-blocks">
          <div class="product-block">
            <h3 class="product-title">{{ product.title | escape }}</h3>
          </div>
          {%- if product.selected_or_first_available_variant.sku != blank -%}
            <div class="product-sku">
              <span class="variant-sku">
               <p>{{ 'product.sku' | t }}:<span class="sku-content">{{ product.selected_or_first_available_variant.sku }}</span></p>
              </span> 
              <span class="product-stock-status">
                 {% if product.variants.first.inventory_quantity > 0 %}
                     <p class="in-stock-message pro-status-message">{{ 'products.product.in_stock' | t }}</p>
                 {% else %}
                     <p class="out-of-stock-message pro-status-message">{{ 'products.product.out_of_stock' | t }}</p>
                 {% endif %}
              </span>
           </div>
          {%- endif -%}
          <div class="product-block">
            {%- render 'price', product: product -%}
            {%- if product -%}
              <div class="price-description">
                {% form 'product', product %}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                  {{ form | payment_terms }}
                {% endform %}
              </div>
            {%- endif -%}
            <small class="tax-note caption-large rte">
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            </small>
          </div>
          <div class="products-sold-mess">
            <span>{% render 'icons', icon:'fire-icon'  %}</span>
            <div id="sold-message" data-min-sold="30" data-max-sold="50" data-hours="21">
                Loading...
            </div>
          </div> 
          {% comment %} // stock-indicator {% endcomment %}
          {% if product.variants.first.inventory_quantity == 0 %} 
            <div class="stock-indicator product-block block-{{ block.type }}">  
            <div class="out-of-stock-message">{{ 'products.product.out_of_stock' | t }}</div>  
            </div> 
            {% else %}
              <div class="stock-indicator product-block block-{{ block.type }}">
                <p>
                  {{ 'products.product.stock_warning_html' | t }}
                </p>
                <div class="stock-bar-container" data-variant="{{ product.variants.first.inventory_quantity }}">
                  <div class="stock-bar" id="stock-bar"></div>
                </div>
            </div> 
              {% endif %}
         <div {{ variant_type }} class="product-block">
            {%- render 'product-variants',
              product: product,
              block:block,  
              quick_variant_type: quick_variant_type
            -%}
          </div>
          <div class="product-block block-buy_button">
            {%- if product -%}
              {%- form 'product', product, novalidate: 'novalidate', data-product-form: '' -%}
                {% if product.selling_plan_groups.size > 0 %}
                  <div class="selling-plans-wrapper">
                    <label for="plans">{{ 'product.selling_plan.title' | t }}</label>
                    <select name="selling_plan" id="plans">
                      <option value="">{{ 'product.selling_plan.single_purchase' | t }}</option>
                      {% for variant in product.variants %}
                        <optgroup label="{{ variant.title }}">
                          {% for allocation in variant.selling_plan_allocations %}
                            <option value="{{ allocation.selling_plan.id }}">
                              {{ allocation.selling_plan.name }}
                            </option>
                          {% endfor %}
                        </optgroup>
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}
                <select name="id" id="mainVaritnasList" style="display:none;">
                  {%- for variant in product.variants -%}
                    <option
                      {% if product.selected_or_first_available_variant.id == variant.id -%}
                        selected
                      {%- endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                    </option>
                  {%- endfor -%}
                </select>
                <div class="error" style="display:none;">
                  {%- render 'icons', icon: 'cross' -%}
                  <span data-error-text></span>
                </div>
            
              {%- endform -%}
              <div class="product-block block-{{ block.type }}">
                {%- render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id -%}
              </div>
            {%- endif -%}
      
          </div>
          <div class="view-product-wrapper">
            <a href="{{ product.url }}">{{ 'sections.view_full_details' | t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="application/json" id="product_json">{{ product | json }}</script>
  <script type="application/json" id="variants_json">{{ product.variants | json }}</script>
  <script type="application/json" id="selected_variants_json">{{ product.selected_or_first_available_variant | json }}</script>
  
  
</main-product>

<script src="{{ 'component-product-model.js' | asset_url }}" type="text/javascript" defer></script>
<script src="{{ 'component-product-zoom.js' | asset_url }}" type="text/javascript" defer></script>


{% schema %}
{
  "name": "Product",
  "class": "section-main-product",
  "tag": "section"
}
{% endschema %}
