{%- style -%}
  #shopify-section-{{section.id }}{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    --heading_color: {{ section.settings.heading_color }};
  }

  @media(max-width:768px){
    #shopify-section-{{section.id }}{
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{{ 'component-quotes.css' | asset_url | stylesheet_tag: preload: true }}

<section class="quotes-section">
  {%- if section.settings.quote_bg_1 -%}
    <div class="quotes-bg-image top-left">
      <img
        src="{{ section.settings.quote_bg_1 | image_url: width: section.settings.quote_bg_1.width }}"
        alt="{{ section.settings.quote_bg_1.alt }}"
        width="{{ section.settings.quote_bg_1.width }}"
        height="{{ section.settings.quote_bg_1.height }}"
        loading="lazy"
        style="--object-position:{{ section.settings.quote_bg_1.presentation.focal_point }}"
      >
    </div>
  {%- endif -%}

  {%- if section.settings.quote_bg_2 -%}
    <div class="quotes-bg-image bottom-right">
      <img
        src="{{ section.settings.quote_bg_2 | image_url: width: section.settings.quote_bg_2.width }}"
        alt="{{ section.settings.quote_bg_2.alt }}"
        width="{{ section.settings.quote_bg_2.width }}"
        height="{{ section.settings.quote_bg_2.height }}"
        loading="lazy"
        style="--object-position:{{ section.settings.quote_bg_2.presentation.focal_point }}"
      >
    </div>
  {%- endif -%}
  <div class="quote-container">
    <div class="container">
      {%- if section.settings.title -%}
        <span class="quotes-title h6">
          {{- section.settings.title -}}
        </span>
      {%- endif -%}
      <div class="quotes-wrapper container-narrow">
        <div class="quote-content-wrapper">
          {%- for block in section.blocks -%}
            {%- if block.settings.quote -%}
              <div class="quote-content {% if forloop.first %}active{% endif %}">
                <h2>{{ block.settings.quote }}</h2>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
        <div class="quote-logo-wrapper">
          {%- for block in section.blocks -%}
            {%- if block.settings.logo -%}
              <div class="quote-logo {% if forloop.first %}active{% endif %}">
                <img
                  src="{{ block.settings.logo | image_url: width: block.settings.logo.width }}"
                  alt="{{ block.settings.logo.alt }}"
                  width="{{ block.settings.logo.width }}"
                  height="{{ block.settings.logo.height }}"
                  loading="lazy"
                  style="--object-position:{{ block.settings.logo.presentation.focal_point }}"
                >
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ 'component-quotes.js' | asset_url }}" type="text/javascript" defer></script>

{% schema %}
{
  "name": "Quotes",
  "class": "section-quotes",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section background images"
    },
    {
      "type": "image_picker",
      "id": "quote_bg_1",
      "label": "Background image top left"
    },
    {
      "type": "image_picker",
      "id": "quote_bg_2",
      "label": "Background image bottom right"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Quotes of the day"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "header",
      "content": "Section vetical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top",
      "max": 50,
      "min": 0,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom",
      "max": 50,
      "min": 0,
      "step": 2,
      "unit": "px",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Quote",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote",
          "default": "<p>I never worry about diets. The only carrots that interest me are the number you get in a diamond.</p>"
        },
        {
          "type": "color",
          "id": "quote_color",
          "label": "Text color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quotes",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
