{{ 'component-slideshow.css' | asset_url | stylesheet_tag: preload: true }}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }  
    {% for block in section.blocks %}
    .overlaywhole-{{ block.id }} .imgundercontent{
      right:0;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
        position: absolute;
        inset: 0;
      background: {{ block.settings.whole_overlay_bg }};
      z-index: 1;
    }
    .overlacontent h2{
      color:{{ block.settings.title_color }};
    }
 
  {% endfor %}

  @media (max-width:768px){
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{% if section.blocks.size > 0 %}
  {% assign first_slide = section.blocks[0] %}
  {% if first_slide.settings.image %}
    {{ first_slide.settings.image | image_url: width: first_slide.settings.image.width | image_tag: preload: true, class: "hidden", width: first_slide.settings.image.width, height: first_slide.settings.image.height }}
  {% endif %}
  {% if first_slide.settings.mobile_image %}
    {{ first_slide.settings.mobile_image | image_url: width: first_slide.settings.mobile_image.width | image_tag: preload: true, class: "hidden", width: first_slide.settings.mobile_image.width, height: first_slide.settings.mobile_image.height }}
  {% endif %}
{% endif %}

{% assign slide_speed = section.settings.autoplay_speed %}
{% assign slide_effect = section.settings.slide_transition %}

<div
  class="slidercontent swiper"
  data-slider-options='
    {
      "slidesPerView": "1",
      "grabCursor": true,
      "speed": {{ slide_speed }},
      "effect": "{{ slide_effect }}",
      {% if section.settings.enable_autoplay %}
      "autoplay":true,
      {% endif %}
      "pagination": {
        "el": ".swiper-pagination",
         "clickable": true
      },
      "navigation": {
        "nextEl": ".swiper-button-next",
        "prevEl": ".swiper-button-prev"
      }
    }
  '
>
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div
        class="swiper-slide sliderimg {% if block.settings.overlay_bg %}overlaywhole-{{ block.id }}{% endif %}"
        data-image="{{ block.settings.image  | image_url: width: block.settings.image.width }}"
      >
        {% if block.settings.image %}
          <lazy-image>
          <picture>
            {% if block.settings.mobile_image %}
              <source srcset="{{ block.settings.mobile_image | image_url: width: block.settings.mobile_image.width }}" media="(max-width: 767px)">
            {% endif %}
            <img
              src="{{ block.settings.image  | image_url: width: block.settings.image.width }}"
              alt="{{ block.settings.image.alt }}"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}"
              style="--object-position: {{ block.settings.image.presentation.focal_point }}"
              {% unless forloop.first %}loading="lazy"{% endunless %}
            >
          </picture>
        </lazy-image>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="imgundercontent content-{{ block.settings.content_alignment }}">
          <div class="overlacontent {% if block.settings.overlay_bg %}container{% endif %} text-{{ block.settings.heading_alignment }} align-{{ block.settings.btn_alignment }}" ms-aos data-ms-delay="100">
            {% if block.settings.maintitle %}
              <{{ block.settings.heading_size }}>{{ block.settings.maintitle }}</{{ block.settings.heading_size }}>
            {% endif %}
            {% if block.settings.sub_title %}
              <p>{{ block.settings.sub_title }}</p>
            {% endif %}
            {% if block.settings.btn_link %}
              <a href="{{ block.settings.btn_link }}" {% if block.settings.new_tab %}target="_blank"{% endif %} class="btn btn-effect">
                <span class="text-container">
                  <p class="slidebtn">{{ block.settings.button_label }}</p>
                </span>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
     <div class="swiper-pagination custom-pagination"></div>
  </div>

  <!-- Add Navigation -->
  {% if section.settings.hide_navigation %}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  {% endif %}
</div>

<script src="{{ 'slideshow.js' | asset_url }}" type="text/javascript" defer></script>

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "section-slideshow",
  "settings": [
    {
      "type": "header",
      "content": "Slideshow navigation"
    },
    {
      "type": "checkbox",
      "id": "hide_navigation",
      "label": "Show next prev button",
      "default": true
    },
    {
      "type": "select",
      "id": "slide_transition",
      "label": "Slide transition",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "flip",
          "label": "Flip"
        }
      ],
      "default": "fade"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1000,
      "max": 7000,
      "step": 1000,
      "unit": "s",
      "label": "Autoplay speed",
      "default": 2000
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top",
      "min": 0,
      "max": 50,
      "step": 2,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "default": 20,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Overlay content alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type":"checkbox",
            "id":"overlay_bg",
          "label":"t:sections.slideshow.settings.enable_overlay_bg.label",
          "info":"t:sections.slideshow.settings.enable_overlay_bg.info",
        },
        {
          "type": "text",
          "id": "maintitle",
          "label": "Main title"
        },
        {
          "type": "richtext",
          "id": "sub_title",
          "label": "Sub title"
        },
        {
          "type":"color",
            "id":"title_color",
          "label":"t:sections.general.title_color.label"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "btn_alignment",
          "label": "Button alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center",
          "info": "This alignment work on button and text content only desktop view."
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "Large"
            },
            {
              "value": "h2",
              "label": "Medium"
            },
            {
              "value": "h3",
              "label": "Small"
            }
          ],
          "default": "h2"
        },
        {
          "type": "select",
          "id": "heading_alignment",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right",
          "info": "This position is only applicable in Desktop & Tablet view."
        },
        {
          "type": "color_background",
          "id": "whole_overlay_bg",
          "label": "t:sections.slideshow.settings.whole_overlay_bg.label",
          "default": "linear-gradient(#ffffff, #000000)"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open in new window",
          "info": "Enable if you want to open the link in new window."
        },
        {
          "type": "header",
          "content": "Customization"
        },
        {
          "type": "paragraph",
          "content": "Button desktop style"
        },
        {
          "type": "color",
          "id": "cta_bg_color",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "cta_txt_color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "cta_border_color",
          "label": "Border color",
          "default": "#FFFFFF"
        },
        {
          "type": "paragraph",
          "content": "Button mobile style"
        },
        {
          "type": "color",
          "id": "cta_bg_color_mobile",
          "label": "Background",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "cta_txt_color_mobile",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "cta_border_color_mobile",
          "label": "Border color",
          "default": "#000000"
        },
        {
          "type": "paragraph",
          "content": "Slide"
        },
        {
          "type": "color",
          "id": "slide_bg_color",
          "label": "Background color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "image_overlay_color",
          "label": "Image overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "%",
          "label": "Image overlay opacity",
          "default": 0.3
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Desktop text color",
          "default": "#FFF"
        },
        {
          "type": "color",
          "id": "mobile_text_color",
          "label": "Mobile text color",
          "default": "#000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
