{% assign opacity_float = section.settings.image_overlay_opacity | times: 0.01 %}

{%- style -%}
  #section-{{ section.id }} .promo-container {
    background-color: {{ section.settings.bg_color | color_modify: 'alpha', opacity_float }};
  }
  #section-{{ section.id }} .promo-container.custom-width {
    width: 100%;
    max-width: {{ section.settings.max_width }}px;
    margin: 0 auto;
  }
  #section-{{ section.id }} .social-link.handle{
    color: {{ section.settings.social_handle_color }};
  }
  #section-{{ section.id }} .text-content h2 {
    font-size: {{ section.settings.heading_size }}px;
    color: {{ section.settings.heading_color }};
  }
  #section-{{ section.id }} .text-content p {
    font-size: {{ section.settings.description_size }}px;
    color: {{ section.settings.description_color }};
  }
  #section-{{ section.id }} .social-info {
    margin-top: 30px;
    color: {{ section.settings.social_color }};
    font-size: {{ section.settings.social_size }}px;
  }
  #section-{{ section.id }} .image-content {
    flex: 1 1 {{ section.settings.image_width }}%;
    position: relative;
    text-align: center;
  }
  #section-{{ section.id }} .image-content img {
    border-radius: {{ section.settings.image_radius }}px;
    max-width: 100%;
  }
  @media screen and (max-width: 767px) {
    #section-{{ section.id }} .promo-container {
      flex-direction: column-reverse;
    }
    #section-{{ section.id }} .text-content h2 {
      font-size: calc({{ section.settings.heading_size }}px * 0.9);
    }
    #section-{{ section.id }} .text-content p {
      font-size: calc({{ section.settings.description_size }}px * 0.95);
    }
    #section-{{ section.id }} .social-info {
      font-size: calc({{ section.settings.social_size }}px * 0.95);
    }
    #section-{{ section.id }} .text-content {
      text-align: {{ section.settings.text_align_mob }};
    }
    #section-{{ section.id }} {
      padding-left: 15px;
      padding-right: 15px;  
      padding-top: 0;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    } 
  }
    @media screen and (min-width: 768px) {
      #section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        #section-{{ section.id }} .text-content {
          flex: 1 1 {{ section.settings.text_width }}%;
          text-align: {{ section.settings.text_align_desk }};
        }
    }
{%- endstyle -%}

<section id="section-{{ section.id }}" class="social-promo">
  <div class="promo-container {% if section.settings.full_width %}full-width{% else %}custom-width{% endif %}">
      <div class="text-content">
        <div class="promo-content">
          <h2>{{ section.settings.heading }}</h2>
          <p>{{ section.settings.description }}</p>
        </div>
        <div class="social-info">        
          {% if section.settings.social_icon != blank %}
            <a href="{{ section.settings.social_link }}" target="_blank" class="social-link">
               <img src="{{ section.settings.social_icon | image_url: width: '32' }}" alt="Social Icon" width="{{ section.settings.social_icon.width }}" height="{{ section.settings.social_icon.height }}" style="vertical-align: middle; width: 24px; height: 24px;">
            </a><br>
          {% endif %}
          <span class="social-handle">{{ section.settings.social_text }}</span><br>          
          <a href="{{ section.settings.social_link }}" target="_blank" class="social-link handle">
            {{ section.settings.social_handle }}
          </a>
        </div>
      </div>
      <div class="image-content">
        {%- if section.settings.image != blank -%}
        <img src="{{ section.settings.image | image_url: width: section.settings.image.width }}" 
          alt="{{ section.settings.image.alt | default: 'Promo Image' }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          loading="lazy">
        {%- else -%}
          {{ 'image' | placeholder_svg_tag }}
        {%- endif -%}
      </div>    
  </div>
</section>

{% schema %}
{
  "name": "Social promo",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Max Container Width (px)",
      "min": 800,
      "max": 1600,
      "step": 10,
      "default": 1180
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "label": "Overlay opacity (%)",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "Text content width (%)",
      "min": 20,
      "max": 80,
      "step": 5,
      "default": 40
    },
    {
      "type": "range",
      "id": "image_width",
      "label": "Image content width (%)",
      "min": 20,
      "max": 80,
      "step": 5,
      "default": 50
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading text",
      "default": "Follow Our Journey"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#082A32"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading font size (px)",
      "min": 12,
      "max": 60,
      "step": 1,
      "default": 28
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description text",
      "default": "Discover the artistry behind our collections, explore styling inspiration, and connect with us on social media."
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color",
      "default": "#797979"
    },
    {
      "type": "range",
      "id": "description_size",
      "label": "Description font size (px)",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 16
    },
    {
      "type": "select",
      "id": "text_align_desk",
      "label": "Text alignment (desktop)",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_align_mob",
      "label": "Text alignment (mobile)",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "social_icon",
      "label": "Social icon (PNG)"
    },
    {
      "type": "text",
      "id": "social_text",
      "label": "Social media label",
      "default": "Follow us on Instagram"
    },
    {
      "type": "text",
      "id": "social_handle",
      "label": "Social handle",
      "default": "@regaliajewels"
    },
    {
      "type": "url",
      "id": "social_link",
      "label": "Social link"
    },
    {
      "type": "color",
      "id": "social_color",
      "label": "Social media label color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "social_size",
      "label": "Social text size (px)",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 14
    },
    {
      "type": "color",
      "id": "social_handle_color",
      "label": "Social media handle color",
      "default": "#2081D0"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Promo image"
    },
    {
      "type": "range",
      "id": "image_radius",
      "label": "Image border radius (px)",
      "min": 0,
      "max": 50,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "presets": [  
    {
      "name": "Social promo"
    }
  ]
}
{% endschema %}
