{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  {%- for block in section.blocks -%}
    #shopify-section-{{ section.id }} .text-image-items.block-id-{{ block.id }} {
      --bg-color: {{ block.settings.bg_color }}; 
      --text-color: {{ block.settings.text_color }}; 
      --description-color: {{ block.settings.description_color }}; 
      --btn-text-color: {{ block.settings.btn_text_color }}; 
      --btn-bg-color: {{ block.settings.btn_bg_color }};
      --bg-blur: {{ block.settings.bg_blur }}px;
    }
    .iwt-title{
      color:{{ block.settings.main_title }};
    }
    .overlayslider .image-with-text .content-wrapper{
      padding-left:{{ block.settings.text_padding }}%;
    }
    .overlay-slider-{{ block.id }} .bg-image-wrapper{
          right:0;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
        position: absolute;
        inset: 0;
      background: {{ block.settings.overlay_bg }};
      z-index: 1;
    }
  {%- endfor -%}
  @media (max-width:768px){
    #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}
{{ 'component-textImage-slider.css' | asset_url |stylesheet_tag: preload: true }}

{% capture slider_enable %}
  {% if section.settings.slider_enable %}sliderenable{% else %}sliderdisable{% endif %}
{% endcapture %}
<section class="text-image-slider-section {{ slider_enable }}">
  <div class="{% if section.settings.enable_full_width %}full-width{% else %}container{% endif %}">
    <div       
      {% if section.settings.slider_enable %} 
      class="text-image-wrapper swiper"
      data-slider-options='{"direction": "vertical", "speed": 1000, "slidesPerView": 1, "breakpoints": { "320": { "direction": "vertical", "slidesPerView": 1 }, "768": { "direction": "vertical", "slidesPerView": 1 }, "1280": { "direction": "vertical", "slidesPerView": 1 } }, {% if section.blocks.size > 1 %} "loop": true {% endif %} {% if section.settings.enable_autoscroll %} , "autoplay": { "delay": {{ section.settings.autoscroll_speed }}, "disableOnInteraction": false}, {% endif %} "navigation": {"nextEl": "#shopify-section-{{ section.id }} .swiper-button-next","prevEl": "#shopify-section-{{ section.id }} .swiper-button-prev" }}'
      {% endif %}
      >
      <div class="swiper-wrapper overlayslider">
        {%- for block in section.blocks -%}
          <div class="text-image-items {% if block.settings.bg_overlay_content %}overlay-slider-{{ block.id }}{% endif %} swiper-slide block-id-{{ block.id }}">
            {%- case block.type -%}
              {%- when 'image-with-text' -%}
                <div class="image-with-text flex-reverse">
                  <div class="image-wrapper">
                    {%- if block.settings.image -%}
                      <img src="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                        alt="{{ block.settings.image.alt }}"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        loading="lazy"
                        style="--object-position:{{ block.settings.image.presentation.focal_point }}">
                    {%- else -%}
                      {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </div>
                  <div class="content-wrapper container-narrow">
                    {%- if block.settings.title -%}
                      <{{block.settings.title_size}} class="iwt-title">
                        {{ block.settings.title }}
                      </{{block.settings.title_size}}>
                    {%- endif -%}
                    {%- if block.settings.description -%}
                      <span class="iwt-description">
                          <{{block.settings.description_size}} class="iwt-description">
                        {{ block.settings.description | strip_html }}
                          </{{block.settings.description_size}}>   
                      </span>
                    {%- endif -%}
                    {%- if block.settings.btn_text -%}
                      <a href="{{ block.settings.btn_link }}" class="iwt-btn btn btn-{{ block.settings.btn_type }}">
                        {{ block.settings.btn_text }}
                      </a>
                    {%- endif -%}
                  </div>
                 <div class="images-content">
                    <div class="image-left-side">
                      {% if section.settings.image_first %}
                      <img src="{{ section.settings.image_first | image_url: width: section.settings.image_first.width }}"
                alt="{{ section.settings.image_first.alt | default: 'collection-image' }}"
                width="{{ section.settings.image_first.width }}"
                height="{{ section.settings.image_first.height }}"
                loading="lazy"
                style="--object-position:{{ section.settings.image_first.presentation.focal_point }}">
                      {% endif %}
                    </div>
                    <div class="image-right-side">
                        {% if section.settings.image_sec %}
                           <img src="{{ section.settings.image_sec | image_url: width: section.settings.image_sec.width }}"
                alt="{{ section.settings.image_sec.alt | default: 'collection-image' }}"
                width="{{ section.settings.image_sec.width }}"
                height="{{ section.settings.image_sec.height }}"
                loading="lazy"
                style="--object-position:{{ section.settings.image_sec.presentation.focal_point }}">
                      {% endif %}
                    </div>
                    <div class="image-btn-side">
                      {% if section.settings.image_third %}
                           <img src="{{ section.settings.image_third | image_url: width: section.settings.image_third.width }}"
                alt="{{ section.settings.image_third.alt | default: 'collection-image' }}"
                width="{{ section.settings.image_third.width }}"
                height="{{ section.settings.image_third.height }}"
                loading="lazy"
                style="--object-position:{{ section.settings.image_third.presentation.focal_point }}">
                       
                      {% endif %}
                    </div>
                    <div class="image-bottom-side">
                      {% if section.settings.image_four %}
                           <img src="{{ section.settings.image_four | image_url: width: section.settings.image_four.width }}"
                alt="{{ section.settings.image_four.alt | default: 'collection-image' }}"
                width="{{ section.settings.image_four.width }}"
                height="{{ section.settings.image_four.height }}"
                loading="lazy"
                style="--object-position:{{ section.settings.image_four.presentation.focal_point }}">
                       
                      {% endif %}
                    </div>
                  </div>
                </div>
              {%- when 'image-overlay-text' -%}
                <div class="image-overlay-text">
                  <div class="bg-image-wrapper">
                    {%- if block.settings.bg_image -%}
                      <img src="{{ block.settings.bg_image | image_url: width: block.settings.bg_image.width }}"
                        alt="{{ block.settings.bg_image.alt }}"
                        width="{{ block.settings.bg_image.width }}"
                        height="{{ block.settings.bg_image.height }}"
                        loading="lazy"
                        style="--object-position:{{ block.settings.bg_image.presentation.focal_point }}">
                    {%- else -%}
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                  </div>
                  <div class="content-wrapper container-narrow image-{{ block.settings.layout }}">
                    <div class="image-wrapper">
                      {%- if block.settings.image -%}
                        <img src="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                          alt="{{ block.settings.image.alt }}"
                          width="{{ block.settings.image.width }}"
                          height="{{ block.settings.image.height }}"
                          loading="lazy"
                          style="--object-position:{{ block.settings.image.presentation.focal_point }}">
                      {%- else -%}
                        {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </div>
                    <div class="inner-content-wrapper">
                      {%- if block.settings.title -%}
                        <{{block.settings.title_size}} class="iot-title">
                          {{ block.settings.title }}
                        </{{block.settings.title_size}}>
                      {%- endif -%}
                      {%- if block.settings.description -%}
                        <span class="iot-description">
                          {{ block.settings.description }}
                        </span>
                      {%- endif -%}
                      {%- if block.settings.btn_text -%}
                        <a href="{{ block.settings.btn_link }}" class="iot-btn btn btn-{{ block.settings.btn_type }}">
                          {{ block.settings.btn_text }}
                        </a>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
        {% if section.settings.slider_enable %}          
      <div class="swiper-navigation">
        <button type="button" class="swiper-button-prev"></button>
        <button type="button" class="swiper-button-next"></button>
      </div>  
      {% endif %}
    </div>
  </div>
</section>

<script src="{{ 'component-textImage-slider.js' | asset_url }}" type="text/javascript" defer></script>

{% schema %}
{
  "name": "Text-image slider",
  "class": "section-text-image-slider",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_autoscroll",
      "label": "Enable auto-scroll",
      "default": true
    },
    {
      "type": "range",
      "id": "speed_delay",
      "label": "Speed delay",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "s",
      "default": 9000
    },
    {
      "type": "range",
      "id": "autoscroll_speed",
      "label": "Autoscroll speed",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "s",
      "default": 9000
    },
    {
      "type":"checkbox",
        "id":"slider_enable",
      "label":"Slider Enable"
    },
    {
      "type": "header",
      "content": "Section vetical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "image-with-text",
      "name": "Image with text",
      "settings": [
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "options": [
            {
              "value": "h1",
              "label": "Extra large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "Extra small"
            },
            {
              "value": "h6",
              "label": "Tiny"
            }
          ],
          "default": "h2"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "select",
          "id": "description_size",
          "label": "t:sections.text_image_slider.blocks.image_with_text.settings.description_size.label",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.general.font_size.extra_large.label"
            },
            {
              "value": "h2",
              "label": "t:sections.general.font_size.large_size.label"
            },
            {
              "value": "h3",
              "label": "t:sections.general.font_size.medium_size.label"
            },
            {
              "value": "h4",
              "label": "t:sections.general.font_size.small_size.label"
            },
            {
              "value": "h5",
              "label": "t:sections.general.font_size.extra_small.label"
            },
            {
              "value": "h6",
              "label": "t:sections.general.font_size.tiny.label"
            }
          ],
          "default": "h2"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Type",
          "options": [
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color" 
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Button text"
        },
        {
          "type": "color",
          "id": "btn_bg_color",
          "label": "Button background"
        }
      ]
    },
    {
      "type": "image-overlay-text",
      "name": "Image overlay text",
      "settings": [
        {
          "type": "header",
          "content": "Media"
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background image"
        },
        {
          "type": "range",
          "min": 0,
          "max": 100,
          "id": "bg_blur",
          "label": "Background blur",
          "step": 2,
          "unit": "px",
          "default": 4
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title size",
          "options": [
            {
              "value": "h1",
              "label": "Extra large"
            },
            {
              "value": "h2",
              "label": "Large"
            },
            {
              "value": "h3",
              "label": "Medium"
            },
            {
              "value": "h4",
              "label": "Small"
            },
            {
              "value": "h5",
              "label": "Extra small"
            },
            {
              "value": "h6",
              "label": "Tiny"
            }
          ],
          "default": "h2"
        },
        {
          "type":"select",
          "id": "layout",
          "default":"image_first",
          "label":"Image placement",
          "options": [
           {
             "value": "image_first",
             "label": "Image first"
           },
           {
             "value":"image_second",
             "label":"Image second"
           }
         ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Type",
          "options": [
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color" 
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "btn_text_color",
          "label": "Button text"
        },
        {
          "type": "color",
          "id": "btn_bg_color",
          "label": "Button background"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text image slider",
      "blocks": [
        {
          "type": "image-with-text"
        },
        {
          "type": "image-overlay-text"
        }
      ]
    }
  ]
}
{% endschema %}