{%- style -%}
  #shopify-section-{{ section.id }}{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media(max-width: 767px){
    #shopify-section-{{ section.id }}{
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  }
{%- endstyle -%}

{{ 'component-video-carousel.css' | asset_url | stylesheet_tag: preload: true }}

<section class="video-carousel-section">
  <div class="{% if section.settings.enable_full_width %}full-width {% else %}container{% endif %}">
    <div class="video-carousel-wrapper swiper"
      data-slider-options='{
       "slidesPerView": "1",
        "effect": "{{ section.settings.slide_transition }}",
         "breakpoints": { 
          "320": { "autoHeight": false },
           "768": { "autoHeight": true} 
          }, 
           "grabCursor": true, 
           "speed": {{ section.settings.speed_delay }},
            "loop": true,
             "navigation": {"nextEl": "#shopify-section-{{ section.id }} .swiper-button-next","prevEl": "#shopify-section-{{ section.id }} .swiper-button-prev"}
            }' ms-aos data-ms-delay="100">
      <div class="video-carousel__slider swiper-wrapper">
        {% for block in section.blocks %}
          {%- if block.settings.video -%}
            <div class="video-carousel swiper-slide" {{ block.shopify_attributes }} id="shopify-block-{{ block.id }}">
              <div class="video-carousel__video video-carousel__video--{{ section.settings.slide_height }}">
                {{ block.settings.video | media_tag: muted: true, controls: false, autoplay: true, loop: true, class: 'video-carousel__video__element' | replace: '<img src', '<img alt="video-img" src' }}
              </div>
            </div>
          {%- endif -%}
        {% endfor %}
      </div>

      {% if section.settings.enable_arrow %}
      <div class="swiper-navigation">
        <button type="button" class="swiper-button-next"></button>
        <button type="button" class="swiper-button-prev"></button>
      </div>
    {% endif %}
    </div>
  </div>
</section>

<script src="{{ 'component-video-carousel.js' | asset_url }}" type="text/javascript" defer></script>

{% schema %}
{
  "name": "Video carousel",
  "class": "section section-video-carousel",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "select",
      "id": "slide_height",
      "label": "Adapt height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "slide_transition",
      "label": "Slide transition",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "flip",
          "label": "Flip"
        },
        {
          "value": "coverflow",
          "label": "Coverflow"
        },
        {
          "value": "cube",
          "label": "Cube"
        }
      ],
      "default": "fade"
    },
    {
      "type": "range",
      "id": "speed_delay",
      "label": "Speed delay",
      "min": 1000,
      "max": 9000,
      "step": 1000,
      "unit": "s",
      "default": 9000
    },
    {
      "type": "header",
      "content": "Section vertical spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "enable_arrow",
      "label": "Enable Arrow",
      "default":true
    }
  ],
  "blocks":[
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video carousel",
      "blocks": [
        {
          "type": "video",
        },
        {
          "type": "video",
        },
        {
          "type": "video",
        }
      ]
    }
  ]
}
{% endschema %}